
<div class="bg-white p-3 text-center">
    <div class="card uk-display-inline-block" style="max-width: 500px;">
        <div class="card-body">

            <div id="form-error" class="text-sm text-center text-dark p-4 hide pb-0 uk-animation-slide-bottom-medium">

            </div>
            <form class="form uk-animation-slide-top-medium" id="addproductform" method="POST" enctype="multipart/form-data"
                action="{% url 'admin_add_product' %}?{{action}}=1&id={{product.productid}}" style="">

                {% csrf_token %}
                {% if form.errors %}
                <div class="alert alert-warning alert-dismissible fade show text-left" role="alert">
                    <strong>Ooops!</strong>
                    {{form.errors}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}

                <div class="card-body">
                    <div class="border-bottom pt-2 pb-2 text-left text-darker mb-3">
                        <div class="">
                            <span class="h2 text-darker">
                                Product information
                            </span>
                        </div>
                    </div>
                    <div class="uk-inline mt-2" style="width: 100%;">

                        <!-- <span class="uk-position-center-left ml-2"> <i class="fa fa-user"></i></span> -->
                        <input
                            class="uk-input form-control p-3    rounded-sm position-relative border border-light text-dark"
                            style="z-index: 2;" id="productname" type="text" name="name" 
                            value="{{product.name}}"  required>
                        <span class=" uk-position-center-left rounded-sm pl-1 pr-1 ml-2 c-label"
                            style="z-index: 1;font-size: 10px;">
                            
                            Name
                        </span>
                    </div>
                    <div class="uk-inline mt-4" style="width: 100%;">

                        <!-- <span class="uk-position-center-left ml-2"> <i class="fa fa-user"></i></span> -->
                        <input
                            class="uk-input form-control p-3    rounded-sm position-relative border border-light text-dark"
                            style="z-index: 2;" type="number" name="price" 
                            value="{{product.price}}"  required>
                        <span class=" uk-position-center-left rounded-sm pl-1 pr-1 ml-2 c-label"
                            style="z-index: 1;font-size: 10px;">
                            Price
                        </span>
                    </div>
                    <div class="uk-inline mt-4" style="width: 100%;">

                        <!-- <span class="uk-position-center-left ml-2"> <i class="fa fa-user"></i></span> -->
                        <input
                            class="uk-input form-control p-3    rounded-sm position-relative border border-light text-dark"
                            style="z-index: 2;"type="number" name="discount" 
                            value="{{product.discount}}" >
                        <span class=" uk-position-center-left rounded-sm pl-1 pr-1 ml-2 c-label"
                            style="z-index: 1;font-size: 10px;">
                            Discount (%)
                        </span>
                    </div>
                    <div class="uk-inline mt-4" style="width: 100%;">

                        <!-- <span class="uk-position-center-left ml-2"> <i class="fa fa-user"></i></span> -->
                        <input
                            class="uk-input form-control p-3    rounded-sm position-relative border border-light text-dark"
                            style="z-index: 2;" type="number" name="available_stock" 
                            value="{{product.available_stock}}"  required>
                        <span class=" uk-position-center-left rounded-sm pl-1 pr-1 ml-2 c-label"
                            style="z-index: 1;font-size: 10px;">
                            Available stock
                        </span>
                    </div>
                    <div class="uk-inline mt-4" style="width: 100%;">

                        <!-- <span class="uk-position-center-left ml-2"> <i class="fa fa-user"></i></span> -->
                        <input
                            class="uk-input form-control p-3    rounded-sm position-relative border border-light text-dark"
                            style="z-index: 2;" id="productweight" type="number" name="weight" 
                            value="{{product.weight}}"  required>
                        <span class=" uk-position-center-left rounded-sm pl-1 pr-1 ml-2 c-label"
                            style="z-index: 1;font-size: 10px;">
                            Weight
                        </span>
                    </div>
                   
                    {% include 'admin/measurement_units.html' %}
                    <div class="uk-inline mt-4" style="width: 100%;">
                        <div class="position-relative">
                            <input
                                class="uk-input previewimage form-control p-3 password  rounded-sm position-relative "
                                name="image" data-jpreview-container="#preview-container" style="z-index: 2;"
                                type="file">
                            <span class=" uk-position-center-left rounded-sm pl-1 pr-1 ml-2 mt--4 bg-white text-dark"
                                style="z-index: 3;font-size: 12px;">

                                Image (primary image)
                            </span>
                        </div>


                        <div id="preview-container" class="jpreview-container uk-padding-small rounded-circle"
                            style="  min-height: 100px; max-height: 200px;max-width: 200px; float: none;">
                        <img class="jpreview-image uk-border-rounded uk-margin-remove" src="{% if product.image %} {{site}}{{product.image.url}} {% endif  %}" >
                        </div>
                    </div>


                    <div class="uk-inline mt-1" style="width: 100%;">

                        <!-- <span class="uk-position-center-left ml-2"> <i class="fa fa-user"></i></span> -->
                       
                        <span class=" uk-position-center-left rounded-sm pl-1 pr-1 ml-2 c-label"
                            style="z-index: 1;font-size: 12px;">
                            Description
                        </span>
                    </div>
                    <div class="form-group mt-2">
                      <textarea class="form-control" id="description" rows="3" name="description"></textarea>
                    </div>

                </div>
                <div class="mt-1 text-center bg-transparent">
                    <button class="btn btn-primary shadow-none btn-flat " type="submit" style="">
                        Submit</button>
                </div>


            </form>

        </div>
    </div>

</div>

<script>
      $('.previewimage').jPreview();

tinymce.init({
  selector: 'textarea#description',
  height: 250,
  menubar: false,
  plugins: [
    'advlist autolink lists link image charmap print preview anchor',
    'searchreplace visualblocks code fullscreen',
    'insertdatetime media table paste code help wordcount'
  ],
  toolbar: 'undo redo | formatselect | ' +
    'bold italic backcolor | alignleft aligncenter ' +
    'alignright alignjustify | bullist numlist outdent indent | ' +
    'removeformat | help',
  content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }'
});
    

$("#addproductform").submit(function (event) {
        event.preventDefault(); //prevent default action 
        tinymceIframe = $('#description_ifr')
  tinymceContent = tinymceIframe.contents().find("body#tinymce").html()
  $('textarea#description').val(tinymceContent)
        var post_url = $(this).attr("action"); //get form action url
        var request_method = $(this).attr("method"); //get form GET/POST method
        var form_data = new FormData(this); //Creates new FormData object
        $.ajax({
            beforeSend: function () {
                showLoadingBar()
            },
            complete: function () {
                hideLoadingBar()
            },
            url: post_url,
            type: request_method,
            data: form_data,
            contentType: false,
            cache: false,
            processData: false,

            success: function (response) {
                dispatchResponse(response)
            },
            error: function (xhr, status, error) {
                UIkit.notification.closeAll()
                UIkit.notification('Operation not successful. Check your internet connection',)
            }
        });
    });


    {
        (function ($) { //Most read async
            $('.form-check.form-check-radio').on('click', function () {
                $('.form-check.form-check-radio').attr('style', 'background-color:white !important;color:black !important')
                $('.form-check.form-check-radio').removeClass('uk-animation-fade')
                $(this).attr('style', 'background-color:rgb(5, 51, 94) !important;color:white !important')
                $(this).addClass('uk-animation-fade')

            });
        }(jQuery))
    };
    $('.ui.dropdown')
  .dropdown()
;
</script>
