<div class="container-fluid text-primary text-sm">
    <div class="row m-0 mt-3">
        <div class="col-5 p-0">
            <div class="card m-0 shadow-none">Transaction type: </div>
        </div>
        <div class="col-7 p-0 text-darker">
            <div class="card m-0 shadow-none">Interest</div>
        </div>
    </div>

    <div class="row m-0 mt-3">
        <div class="col-5 p-0">
            <div class="card m-0 shadow-none">Amount: </div>
        </div>
        <div class="col-7 p-0 text-darker">
            <div class="card m-0 shadow-none">N{{interest.formatted_amount}}</div>
        </div>
    </div>

    <div class="row m-0 mt-3">
        <div class="col-5 p-0">
            <div class="card m-0 shadow-none">Source: </div>
        </div>
        <div class="col-7 p-0 text-darker">
            <div class="card m-0 shadow-none">{{interest.source}}</div>
        </div>
    </div>
    <div class="row m-0 mt-3">
        <div class="col-5 p-0">
            <div class="card m-0 shadow-none">Transaction ID: </div>
        </div>
        <div class="col-7 p-0 text-darker">
            <div class="card m-0 shadow-none">{{interest.transactionid}}</div>
        </div>
    </div>

    <div class="row m-0 mt-3">
        <div class="col-5 p-0">
            <div class="card m-0 shadow-none">Date & Time:</div>
        </div>
        <div class="col-7 p-0 text-darker">
            <div class="card m-0 shadow-none">{{interest.date_time_added}}</div>
        </div>
    </div>


</div>
