{% load static %}

<div class="card-body uk-width-1-1@s uk-text-left">

  <form role="form" id='makepayment' enctype="multipart/form-data" class="form uk-padding-small" method="POST"
    action="">
    {% csrf_token %}
    <div class="row-grid">
      <div class="uk-inline mt-4" style="width: 100%;">

        <span class="uk-position-center-left ml-2" style="z-index: 3;width: max-content;">
          <select class="" data-style="btn btn-link" name="currency" id="currency_id"
          class="form-control bg-white border-0" required style="border: none !important; width: max-content;background-color: white !important;">
          <!-- <option value="{{partner.currency}}" selected="selected">
              {% if partner.currency %} {{partner.currency}} {% else %} select {% endif %}
          </option> -->
          <option value='NGN'>NGN</option>
          <option value='USD'>USD</option>
          <option value='GBP'>GBP</option>
          <option value='EUR'>EUR</option>
      </select></span>
        <input class="uk-input form-control pt-3 pb-3 pl-6  rounded-md position-relative "
            style="z-index: 2;" id="amount" type="number" name="amount" required>

        <span class=" uk-position-center-left rounded-sm pr-1 ml-6 pl-1 c-label"
            style="z-index: 1;font-size: 12px;">
            Amount
        </span>
    </div>
      <div class="card m-0 shadow-none">
        <div class="card-header uk-text-bold row m-0 p-2">

          <div class="col p-0">Period Covered</div>
        </div>
        <div class="card-body p-2">
          <div class="form-group mb-3 text-left">
            <div class="custom-control custom-radio custom-control-inline hide-custom-dates">
              <input class="custom-control-input" type="radio" name="period" id="period1"
                value="current" checked required>
              <label class="custom-control-label text-capitalize " for="period1">{{partner.contribution_frequency}}
                (Current Plan)
              </label>
            </div>
            <div class="custom-control custom-radio custom-control-inline show-custom-dates">
              <input class="custom-control-input" type="radio" name="period" id="period2" value="custom" required>
              <label class="custom-control-label " for="period2">Custom</label>
            </div>
          </div>
          <div class=" custom-dates hide">
            <div class="input-group p-2">

              <span class=" uk-position-top-left bg-white rounded-sm p-1 ml-3 mt--2 text-sm" style="z-index: 4;">
                Covers from
              </span>

              <input type="date" class="form-control position-relative" name="start_date" id="id_start_date" required
                placeholder="Payment covers from" autofocus="autofocus" value="2000-01-01" style="min-width: 100%;">

            </div>
            <div class="input-group p-2">

              <span class=" uk-position-top-left bg-white rounded-sm p-1 ml-3 mt--2 text-sm" style="z-index: 4;">
                Covers to
              </span>

              <input type="date" class="form-control position-relative" name="end_date" id="id_start_date" required
                placeholder="Payment covers to" autofocus="autofocus" value="2000-01-01" style="min-width: 100%;">

            </div>

          </div>


        </div>
      </div>



    </div>


    <div class="text-center">


      <button type="submit" class="btn btn-primary my-4 payment-form-submit">Pay now</button>

    </div>
  </form>

</div>

<script src="{% static 'base/tinymce/jquery.tinymce.min.js' %}"></script>
<script src="{% static 'base/tinymce/tinymce.min.js' %}"></script>
<script>
  $('.ui.dropdown').dropdown()
  {
    (function ($) {
      $('.show-custom-dates').on('click', function (event) {
        $('.custom-dates').show()
      })
    }(jQuery))
  }
  {
    (function ($) {
      $('.hide-custom-dates').on('click', function (event) {
        $('.custom-dates').hide()
      })
    }(jQuery))
  }



  var submit = false
  var action = ''
  {
    (function ($) {
      $('.payment-form-submit').on('click', function (event) {
        button = $(this)
        action = button.attr('action')
      })
    }(jQuery))
  }
  // $('#makepayment').djValidator({ mode: 'submit', success: () => { submit = true } })

  function isEleven($field) {
    value = $field.val();
    if (value.length == 11) {
      if (isNaN(value)) { return false }
      else { return true }
    }
    else {
      return false;
    }
  }

  function isNotEmpty($field) {
    value = $field.val();
    if (value.length > 15) {
      return true
    }
    else {
      return false;
    }
  }
</script>
<script>
  
  $("#makepayment").submit(function (event) {
    event.preventDefault(); //prevent default action 
    // tinymceIframe = $('#full_description_ifr')
    // tinymceContent = tinymceIframe.contents().find("body#tinymce").html()
    // $('textarea#full_description').val(tinymceContent)
    var post_url = '{% url 'partner_make_payment' %}'//get form action url
    var request_method = $(this).attr("method"); //get form GET/POST method
    var form_data = new FormData(this); //Creates new FormData object

      $.ajax({
        beforeSend: function () {
          UIkit.modal($('#content-modal')).hide();
          showLoadingBar()
        },
        complete: function () {
          hideLoadingBar()
        },
        url: post_url,
        type: request_method,
        data: form_data,
        contentType: false,
        cache: false,
        processData: false,

        success: function (response) {

          if (response.pay) {
            makePayment(response.amount, response.paymentid,response.currency)
          }
          if (response.modal_message) {
            messageModal(response.modal_message, response.heading)

          }
          if (response.modal_notification) {
            notificationModal(response.modal_notification)

          }

          if (response.modal_content) {
            contentModal(response.modal_content, response.heading)

          }
          if (response.message) {
            UIkit.notification.closeAll()
            UIkit.notification(response.message)
          }
        },
        error: function (xhr, status, error) {
          UIkit.notification.closeAll()
          UIkit.notification('Not sent. Check your internet connection',)
        }
      });

    
  });

</script>