<div class="col-md-4 col-12 col-sm-4 mt-3" >
  <div class="card rounded-0 m-0 shadow-none border" >
    <div class="card-body p-2">
        <div class="row m-0">
            <div class="col text-left" >
              <p class="text-bold h3"> <i class="fas fa-pager mr-2"></i> Avail. Stock</p>
            </div>

            <div class="col text-right">
              <p class="h2 text-bold">{{product.available_stock}}</p>
            </div>
        </div>
    </div>
  </div>
</div>
<div class="col-md-4 col-12 col-sm-4 mt-3" >
    <div class="card rounded-0 m-0 shadow-none border" >
      <div class="card-body p-2">
          <div class="row m-0">
              <div class="col text-left" >
                <p class="text-bold h3"> <i class="fas fa-cart-plus mr-2"></i> Sales</p>
              </div>

              <div class="col text-right">
                <p class="h2 text-bold">{{sales}}</p>
              </div>
          </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-12 col-sm-4 mt-3" >
    <div class="card rounded-0 m-0 shadow-none border" >
      <div class="card-body p-2">
          <div class="row m-0">
              <div class="col text-left">
                <p class="text-bold h3"><i class="fas fa-eye mr-2"></i> Impressions</p>
              </div>

              <div class="col text-right">
                <p class="h2 text-bold">{{seen}}</p>
              </div>
          </div>

          
      </div>
    </div>
  </div>
  <div class="col-md-4 col-12 col-sm-4 mt-3">
    <div class="card rounded-0 m-0 shadow-none border" >
        <div class="card-body p-2">
            <div class="row m-0">
                <div class="col text-left">
                  <p class="text-bold h3"><i class="fa fa-money mr-2"></i> Revenue</p>
                </div>
  
                <div class="col text-right">
                  <p class="h2 text-bold">{{revenue}}</p>
                </div>
            </div>
  
          
        </div>
      </div>
  </div>