<div class="container-fluid">
    <div class="text-center">
<p class="p2 h2 text-darker">Terms & Conditions</p>

    </div>
    <div class="p-2 mt-2 bg-white position-relative overflow-hidden">
        <div class="text-left text-dark">
          <div>
            <p class="uk-text-large text-primary">Business Mode Policy</p>
            <p>Our website may store cookies on your web browser when you visit. We use cookies to
              distinguish you from other users of our website and to provide you with a good experience when
              you browse our website.</p>
            <p>This cookie policy explains what a cookie is, what kind of cookies you may find on our
              website, cookie classifications and how cookies may be managed.</p>
            
              <h3>1. What is a cookie?</h3>
            
            <p>A cookie is a simple text file which stores small pieces of information. When you visit our
              website, the server saves the cookie onto your computer or other device and this helps to
              uniquely identify your browser or device. Note, however, that cookies do not collect any
              personal data stored on your hard drive or computer.</p>
            <p>Cookies helps you to have a more positive experience. They help you navigate effectively and
              make the interaction between you and our website quicker and easier, cookies generally allow
              us to enhance your user experience. Cookies help the website to remember your actions or
              preferences, for example, a cookie might store information so you don't have to keep entering
              it. &nbsp;How long a cookie would stay on your computer or mobile device depends on whether
              they are session cookies or persistent cookies.</p>
            <p>Session cookies&nbsp;- these are temporary and are erased when you close your&nbsp;<a
                href="https://www.allaboutcookies.org/faqs/browser.html">browser</a>&nbsp;at the end of your
              visit to the website. At your next visit to the website, you will be treated as a new visitor
              since there is nothing contained in your browser to let the website know you have visited
              before.</p>
            <p>Persistent cookies&nbsp;- these cookies help websites remember your information and settings
              imputed when you visit in future. It ensures you have a faster and more convenient access to
              the website.</p>
            <p>For example, a website may require you to impute a language preference during your first
              visit, if recorded in a persistent cookie setting, that website would deliver its content in
              your preferred language during your next visit to the site. A cookie remains on your browser
              based on how long it has been programmed to last by the website.</p>
            
            
            
              <h3>2. Cookies we use</h3>
            
            <p>We may use cookies in order to understand how you interact with our website and also to
              improve your browsing experience when you visit our website. Our website requires some cookies
              to function appropriately and these cookies cannot be turned off. Others are optional and
              allows you select your preferences. You can update your choice at any time by clicking the
              &lsquo;cookie policy&rsquo; link at the bottom of our page. Unless you opt in to cookies, we
              won't set any cookies on your device except essential ones. &nbsp;</p>
            <h4>Cookie details</h4>
            <p>Cookies can be classified as either non-essential or essential.</p>
            <p> <h4>Essential cookies</h4> 
              These cookies are needed for you to be able to use our websites
              securely. They are necessary for the proper functioning of the website, and allows you browse
              our website and use the services provided there. The essential cookies never collect
              information that could identify you, rather some of these cookies store information that
              allows you to view certain protected content i.e.&nbsp; pages that are only visible to
              registered users. Essential cookies cannot be disabled.</p>
            
            <p> <h4>Non-essential cookies</h4> Unlike essential cookies, non-essential cookies are not
              strictly necessary to allow our website perform optimally, or allow you have access to our
              services. However, they help us improve your user experience, they also enhance the
              functionality of our website. We use cookies (&lsquo;analytical&rsquo; or &lsquo;experience
              and insight&rsquo; cookie), which help us understand how you access and use our website. The
              (&lsquo;advertising&rsquo; cookies) also helps us to customize your ad experience and allows
              us to serve up relevant content to users who interact with us across different online
              platforms including our websites, social media platforms and other digital services we
              provide.</p>
            
            
              <h3>3. First Party and Third-Party Cookies</h3>
            
            <p>We use first-party cookies and third-party cookies. Any of these cookies may be persistent or
              session cookies.</p>
            
            <p> <h4> First-Party Cookies</h4>First-Party cookies are cookies that belong to CGCC,
              they are set by the website when you browse and aren&rsquo;t shared elsewhere. These set of
              cookies are necessary for the optimization of the website and often used to remember
              information about how you used the website.</p>
            
            <p><h4>Third-Party Cookies</h4> Third-Party cookies are cookies that may be placed on your
              computer when you visit the website, by companies that run certain services we offer. It
              generally allows third parties to put together and track certain information about you.
              Third-Party cookies can be manually disabled in your browser.</p>
            
            
              <h3>4. Managing Cookies</h3>
            
            <p>There are a number of ways to manage cookies on your browser. Using a proper guide, you are
              able to clear cookies, prevent cookies, delete cookies and enable cookies at your will and for
              different reasons. The choices available in managing cookies may vary from browser to browser.
              You can find out more information about cookie settings at third-party information sites, such
              as</p>
            
            
              <h3>5. Cookie Policy Modifications</h3>
           
            <p>We reserve the right to make changes to this Cookie Policy at any time and any modifications
              made becomes operative upon posting the updated policy on our website without specific notice
              of such modifications.</p>
            <p>Note that you will be deemed to be aware of the modifications made to the Policy, including
              having accepted the changes made therein where you use our website after the date of
              publishing a revised Cookie Policy.</p>
            
              <h3>6. Have Some Questions?</h3>
           
            
            <p>Please contact us at <a
                href="mailto:info@dominionpartnersglobal.com">info@dominionpartnersglobal.com</a></p>
            
            <p>or write to the following address:</p>
            
            <p>The Data Protection Officer</p>
            <p>Citadel Global Community Church</p>
            <p>30, Kudirat Abiola Way</p>
            <p>Oregun</p>
            <p>Ikeja Lagos.</p>
            <p>or call us at:</p>
            <p>+234 __________________________</p>
            
            
            







          </div>

        </div>
      </div>
      <form class="form" id="accept-business-mode-form" method="POST" action="{% url 'customer_accept_business_mode' %}">

        {% csrf_token %}

        <p class="mt-6 text-dark text-center">By clicking <b>I accept</b> button below, you to above terms and conditions.
          <br> <br> <button class="btn btn-flat btn-primary m-0 shadow-none mb-2" type="submit">I agree</button>

        </p>


      </form>
</div>


<script>

    $("#accept-business-mode-form").submit(function (event) {
        event.preventDefault(); //prevent default action 
        var post_url = $(this).attr("action"); //get form action url
        var request_method = $(this).attr("method"); //get form GET/POST method
        var form_data = new FormData(this); //Creates new FormData object
        $.ajax({
            beforeSend: function () {

                showLoadingBar()
            },
            complete: function () {
                hideLoadingBar()

            },
            url: post_url,
            type: request_method,
            data: form_data,
            contentType: false,
            cache: false,
            processData: false,

            success: function (response) {
                if (response.modal_message) {
                    messageModal(response.modal_message,)

                }
                if(response.content){
                    $('#get-loan').empty()
                    $('#get-loan').append(response.content)
                }
                
            },

            error: function (xhr, status, error) {
                UIkit.notification.closeAll()
                UIkit.notification('Operation not successful. Check your internet connection',)
            }
        });
    });




</script>