{% load static %}


<!DOCTYPE html>
<html lang="en" class="bg-transparent">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />

  <title>{{title}}</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="icon" href="{{settings.logo_icon.url}}">
  {% block style %}
  <link rel="stylesheet" type="text/css" href="{% static 'fontawesome/css/all.min.css' %}" />
  {% endblock %}

  <link rel="stylesheet" href="{% static 'base/fontawesome/css/fontawesome.min.css' %} ">
  <!-- <link rel="stylesheet" href="{% static 'base/boomerang/assets/css/theme.css' %}"> -->
  <!--  <link rel="stylesheet" href="{% static 'base/countdown/css/jQuery.countdownTimer.css' %}">-->
  <!-- <link rel="stylesheet" href="{% static 'base/inputcounter/css/handle-counter.min.css' %}"> -->
  <link rel="stylesheet" href="{% static 'base/imagepreview/css/jpreview.css' %}">
  <link rel="stylesheet" href="{% static 'base/formvalidation/js/jquery.validity.css' %}">

  <!-- <link rel="stylesheet" href="{% static 'base/material/assets/css/material-kit.mind1f1.css' %}">-->
  <!-- <link rel="stylesheet" href="{% static 'base/material/assets/css/material-kit.minb68f.css' %}"> -->

  <!-- <link rel="stylesheet" href="{% static 'base/material/assets/css/material-kit.minf27d.css' %}">  -->
  <!-- <link rel="stylesheet" href="{% static 'base/searchselect/css/jquery-customselect-1.9.1.css' %}">    -->
  <link rel="stylesheet" href="{% static 'base/uikit/css/uikit.css' %}">

  <!-- <link rel="stylesheet" href="{% static 'base/semantic/semantic.css' %}"> -->
  <!-- <link rel="stylesheet" href="{% static 'base/qrc/js/src/reset.css' %}"> -->

  <!-- <link rel="stylesheet" href="{% static 'base/qrc/js/src/styles.css' %}"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css" />
  <link rel="stylesheet" href="{% static 'base/girly/css/girly.css' %}">
  <link rel="stylesheet" href="{% static 'base/semantic/semantic.css' %}">
  <link rel="stylesheet" href="{% static 'base/videothumbnails/jquery.youtubevideo.css' %}">
  <link rel="stylesheet" href="{% static 'base/videomodal/modal-video.min.css' %}">
  <link rel="stylesheet" href="{% static 'base/argon/vendor/nucleo/css/nucleo.css' %}">
  <link rel="stylesheet" href="{% static 'base/argon/css/nucleo-svg.css' %}">
  <link rel="stylesheet" href="{% static 'base/argon/css/argon.css' %}">
  <!-- <link rel="stylesheet" href="{% static 'base/argon/css/argon-design-system.css' %}"> -->
  <link rel="stylesheet" href="{% static 'base/custom/custom.css' %}">


  <link rel="stylesheet" href="{% static 'base/custom/custom.min.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Google+Sans|Noto+Sans">
  <link rel="stylesheet" href="{% static 'base/countrycodes/css/intlTelInput.css' %}">
  <link rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
  <style>
    .bg-primary{
      background-color: {{settings.primary_color}} !important;
    }
    .border-primary{
     border-color: {{settings.primary_color}} !important;
    }

    .btn-primary{
           border-color:transparent !important;
 background-color: {{settings.primary_color}} !important;
    }
    .uk-slider-nav.uk-dotnav .uk-active a{
      background-color: {{settings.primary_color}} !important;
    }
    .uk-slider-nav.uk-dotnav li a{
      background-color: silver !important;
    }
    .btn-primary:hover{
      background-color: {{settings.primary_color}} !important;
    }
    .text-primary{
      color: {{settings.primary_color}} !important;
    }
  </style>
  
  {% include 'themes/functional/base/scripts.html' %}
  <script src="{% static 'base/qrc/js/src/webcam.js' %}"></script>


  <script type="text/javascript">

    window.CSRF_TOKEN = "{{csrf_token}}";
  </script>
</head>

<body style="min-width: 100%;background-color: {{settings.background_color}} !important;" class="position-relative text-left" >

  <div id="top">

  </div>



  <div class="uk-overlay uk-height-viewport " uk-cover id="loader-cover"
    style="z-index: 1030;background-color: black;opacity: 0.8;position: fixed;display: none;width: 100%;">
    <div class='ui active uk-position-center loader loading big uk-border-circle uk-box-shadow-small uk-padding-small'
      style='position: fixed !important;'>
      <img src="" class="logo-loader " alt="">
    </div>
  </div>

 
  {% include 'themes/functional/base/cnavbar.html' %}
    




  <div class="text-center mt-2 mb-5 p-0 container" style="z-index: 2;">
    <div class="" style="width: 100%;max-width: 100%;">
      <div id="major" class="position-relative p-0 bg-transparent "
        style="">


        <div id="" class="position-relative rounded-md p-0" style="z-index: 2;">
          {% block content%}


          {% endblock %}
        </div>
      </div>
    </div>

  </div>

    {% include 'themes/functional/base/footer.html' %}


  {% include 'themes/functional/base/modals.html' %}



  <script>

    {
      (function ($) { //Most read async
        $('.delete-content').on('click', function (event) {
          event.preventDefault();
          var link = $(this);
          var removableelement = link.attr('removableelement')

          $.ajax({
            beforeSend: function () {
              $(removableelement).removeClass('uk-animation-fade')

              $(removableelement).addClass('uk-animation-fade')

            },
            complete: function () {

            },
            type: 'get',
            url: link.attr('contenturl'),
            data: {
              'csrfmiddlewaretoken': window.CSRF_TOKEN, // from index.html
            },
            success: function (response) {
              // if there are still more pages to load,
              // add 1 to the "Load More Posts" link's page data attribute
              // else hide the link
              // append html to the posts div
              //$('.uk-modal-header-title').empty()

              //$('.uk-modal-header-title').append(link.attr('inner-html'));
              if (response.done) {
                $(removableelement).addClass('uk-animation-fade')
                $(removableelement).remove()

                if (response.content) {
                  $('#main-container').removeClass('uk-animation-fade')

                  $('#main-container').addClass('uk-animation-fade')
                  $('#main-container').empty()
                  $('#main-container').append(response.content)


                  if (response.message) {
                    UIkit.notification.closeAll()
                    UIkit.notification(response.message)
                  }
                }
              }
              else {
                UIkit.notification.closeAll()
                UIkit.notification(response.message)

              }

            },
            error: function (xhr, status, error) {
              alert('there was an error')
            }
          });
        });
      }(jQuery))
    };


  </script>
  <script>
    UIkit.offcanvas($('#offcanvas-nav'));

    function flip() {
      $('.logo-loader')
        .transition('pulse')
    }

    setInterval(flip, 1000)


    {
      (function ($) { //Most read async
        $(window).ready(function () {
          // $('#page-ready-cover').addClass('uk-transition-fade uk-transition-slow')
          // $('#page-ready-cover').transition('fade')
          ;

        })
      }(jQuery))
    };

  </script>



  <script>
    $('.demo').youtubeVideo({

      // custom layout
      layout: {
        wrap: $('<div />', { class: 'ytb-video-wrap' }),
        container: $('<div />', { class: 'ytb-video-container' }),
        iframe: $('<iframe />', { class: 'ytb-video-iframe' }),
        button: $('<div />', { class: 'ytb-video-play-button' })
          .append('<svg viewBox="0 0 68 48"><path class="ytb-video-play-button-bg" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z" fill="#212121" fill-opacity="0.8"></path><path d="M 45,24 27,14 27,34" fill="#fff"></path></svg>'),
      },

      /*
        56.25 - 16:9
        75.25 - 4:3
        80.25 - 5:4
        100 - 1:1
      */
      aspectRatio: 56.25,

      /* 'default' - 120x90
        'mqdefault' - 320x180
        'hqdefault' - 480x360
        'sddefault' - 640x480
        'maxresdefault' - 1280x720
        'http://...' - custom image
      */
      cover: 'hqdefault',

      // custom parameters
      parametrs: 'autoplay=0&autohide=1',

      // play event
      playEvent: 'click',


      // or 'button'
      playMode: 'block',

      // or 'playlist'
      type: 'video',

      // Youtube API
      api: '',

      // displays the duration of the video
      // requires Youtube API
      duration: false,

      // displays the video title
      // requires Youtube API
      title: true,

      // displays the video description
      // requires Youtube API
      description: false

    });


    {
      (function ($) {
        $('.ytb-video-play-button,.ytb-video-container').on('click', function (event) {

          var button = $(this)
          var carousel = button.closest('#othervideos')
          UIkit.slider(carousel).stopAutoplay();


        }

        )
      }(jQuery))
    };


    $(".demo").modalVideo({
      channel: 'youtube',
      youtube: {
        autoplay: 1,
        cc_load_policy: 1,
        color: null,
        controls: 1,
        disablekb: 0,
        enablejsapi: 0,
        end: null,
        fs: 1,
        h1: null,
        iv_load_policy: 1,
        list: null,
        listType: null,
        loop: 0,
        modestbranding: null,
        origin: null,
        playlist: null,
        playsinline: null,
        rel: 0,
        showinfo: 1,
        start: 0,
        wmode: 'transparent',
        theme: 'dark'
      },
      ratio: '16:9',
      vimeo: {
        api: false,
        autopause: true,
        autoplay: true,
        byline: true,
        callback: null,
        color: null,
        height: null,
        loop: false,
        maxheight: null,
        maxwidth: null,
        muted: false,
        player_id: null,
        portrait: true,
        title: true,
        width: null,
        xhtml: false
      },
    });

  </script>
  <script>

    {
      (function ($) {
        var pageStatus = null;
        var progress = null;
        var animationInterval = 33;

        window.document.addEventListener("readystatechange", function () {
          if (document.readyState == "complete") {
            pageStatus = "complete";
          }
          else {
            progress++

            $('#progress').progress({
              percent: progress
            });
          }
        }, false);


        function updateProgress() {
          if (pageStatus == "complete") {
            $('#progress').progress({
              percent: 100
            });
            setTimeout(function () {
              $('#page-ready-cover').addClass('uk-transition-fade uk-transition-slow')
              $('#page-ready-cover').transition('fade')
              // UIkit.offcanvas($('#offcanvas-nav-primary')).show()
            }, 700);
          }
          else {
            if (progress == null) {
              progress = 1;
            }

            progress = progress + 1;
            if (progress >= 0 && progress <= 30) {
              animationInterval += 1;
              $('#progress').progress({
                percent: progress
              });
            }
            else if (progress > 30 && progress <= 60) {
              animationInterval += 2;
              $('#progress').progress({
                percent: progress
              });
            }
            else if (progress > 60 && progress <= 80) {
              animationInterval += 3;
              $('#progress').progress({
                percent: progress
              });
            }
            else if (progress > 80 && progress <= 90) {
              animationInterval += 4;
              $('#progress').progress({
                percent: progress
              });
            }
            else if (progress > 90 && progress <= 95) {
              animationInterval += 80;
              $('#progress').progress({
                percent: progress
              });
            }
            else if (progress > 95 && progress <= 99) {
              animationInterval += 150;
              document.getElementById("pageLoader").innerHTML = progress;
            }
            else if (progress >= 100) {
              $('#progress').progress({
                percent: progress
              });
            }
            setTimeout(updateProgress, animationInterval);
          }
        }

        var intervalObject_1 = setInterval(function () {
          var element = document.querySelector("body");

          if (element != undefined) {
            clearInterval(intervalObject_1);

            updateProgress();
          }
        }, 50);

      }(jQuery))
    }

  </script>

</body>

</html>