<div class="ui three doubling stackable cards uk-width-1-1 m-0" >
    <div class="ui card shadow-none m-0" style="width: 100%;">
      <div class="image">
        <div class="ui placeholder">
          <div class="square image"></div>
        </div>
      </div>
      <div class="content">
        <div class="ui placeholder">
          <div class="header">
            <div class="very short line"></div>
            <div class="medium line"></div>
          </div>
          <div class="paragraph">
            <div class="short line"></div>
          </div>
        </div>
      </div>
      <div class="extra content">
        <div class="ui disabled primary button rounded-circle uk-icon-button p-0 position-relative"><i class="fa fa-heart uk-position-center"></i></div>
        <div class="ui disabled button rounded-circle uk-icon-button p-0 position-relative"><i class="fa fa-cart-plus uk-position-center"></i></div>
      </div>
    </div>
  </div>