
<div class="col-cmd-10 col-csm-11 col-csl-9 col-css-14 uk-padding-remove uk-text-center dark-mode"
  style='margin-top:0px;margin-bottom: 40px;'>
  <h4 class=" col-csxx-x-14 uk-text-left uk-padding-small uk-margin "
  style="text-transform:initial; font-size: 17px;font-weight: bold; display: inline-block;color: white;background-image: linear-gradient(to right, rgb({{color.primary_rgb}}),rgb({{color.primary_rgba}}));">
 Library Stories </h4>
  <div class="col-cmd-14 " style="padding: 0;margin-top: 0px;">

    <div class='col-cmd-14 uk-text-center uk-padding-remove' id='librarystories' style='margin-top:10px;'>
    </div>
  </div>
  <div class="col-xs-12 uk-text-center">
    <a class="uk-button-default uk-button uk-border-pill dark-mode" id="loadlibrarystories" href="javascript:void(0);" data-page="1">
      <span class="fa fa-plus fa-c-medium uk-margin-small-right"></span><span>LIBRARY STORIES</span></a>
  </div>
</div>
<!--Related Stories-->

