
        {% for content in popularlibraries %}

      <div id="{{content.library_id}}" class="popularlibrary col-cmd-3 col-xs-14 col-csm-4-e col-csx-7 col-csl-3-e col-css-5-e col-csxx-14 col-csxx-x-14 uk-padding-remove uk-text-left"
        style="margin: 0px;box-sizing: border-box;padding: 5px !important;margin-bottom: 20px; cursor: pointer;"
        onclick='window.location = "{% url 'viewlibrary' libid=content.library_id %}"'>
      
        <div
    class="col-xs-14 col-sm-14 col-cmd-14   uk-box-shadow-small  uk-border-rounded uk-padding-small uk-padding-remove-horizontal"
    style="padding-top: 10px !important;margin-top: 15px;">
    <a href="#" class="uk-position-top-center" style="font-weight: bold;top: -20px; z-index: 5; ">
      <img class="avatar" src="{{content.logo.url}}" alt="" style="border-radius: 50%;width: 50px;height: 50px;" />
    </a>
    <div class="col-xs-14" style="text-align: center;">

      <span class="author" style="font-weight:bold;text-transform: uppercase;">{{content.name}}</span>

    </div>


    <div uk-slider class="uk-align-center trending recent trending uk-text-center" id="activity"
      style="margin: 0;width: 100%;display: inline-block; position: relative;">
      <ul class="uk-slider-items uk-grid-small" style="text-align:center;">
        {% for story in allstories %}
        {% if story.library_id == content.library_id %}
        <li class="col-cmd-5-e col-csx-7 col-csxx-7 col-csl-7 col-csm-7 col-css-7 col-csxx-x-7 col-csxx-xx-7"
          style="padding: 2px;">

          <a href="{% url 'readstory' storyid=story.story_id %} ">

            <img class="card-img-top " src="{{story.image.url}}" alt="" style="height: 100px;border-radius: 10px;"> </a>
        </li>

        {% endif %}
        {% endfor %}
      </ul>

    </div>

    <div class="uk-text-center col-xs-12 uk-padding-remove">
      <div class="col-xs-4 uk-padding-remove"> <span class="fas fa-book " style=""></span>
        <span>{{content.number_of_stories}}</span></div>
      <div class="col-xs-4 uk-padding-remove"><span class="fas fa-book-open "></span> <span>
          {{content.number_of_episodes}}</span></div>
      <div class="col-xs-4 uk-padding-remove"><span class="fas fa-users"></span> <span>
          {{content.number_of_subscribers}}</span></div>

    </div>

    <div class="blogpost-footer-author-section col-xs-12 " style="display: inline-block;padding: 5px !important;">
      <div class="col-xs-12 uk-padding-remove" style="font-weight: bold;">
        {{content.category.title}}
        {% if currentuser in content.subscribers.all %}
        <li class="fa fa-check-circle-o"
          style="display: inline-block;float: right;margin: 0;color: rgb({{color.primary_rgb}}) !important;"></li>

        {% else %}
        <a href="{% url 'library_subscribe' libid=content.library_id %}" class="fa fa-plus-circle"
          style="margin:5px;margin-bottom:0;margin-top: 0;float: right;color: black;"></a>

        {% endif %}
      </div>
    </div>



  </div>
      </div>
      {% endfor %}

