        <nav class="nav">
          <div class="burger">
            <span class='fa fa-list' style='color:white'>
          </div>

          <ul class="nav__list" style="max-height: max-content !important;height: max-content;">
            <li class="nav__item">
              <a href="#1" class="nav__link c-blue"><span class='fa fa-heart'></span></a>
            </li>
            <li class="nav__item">
              <a href="#2" class="nav__link c-yellow scrolly"><span class='fa fa-save'></a>
            </li>
            <li class="nav__item">
              <a href="#3" class="nav__link c-red"><img src="img/projects-icon.png" alt=""></a>
            </li>
            <li class="nav__item">
              <a href="#4" class="nav__link c-green"><img src="img/contact-icon.png" alt=""></a>
            </li>
          </ul>
        </nav>
