{% if thisweekstory %}

<div class="col-md-5 col-csl-8  uk-padding-small uk-text-left" style='margin-top:100px;background-color: white;'>
  <div class="col-md-12 " style="padding: 0;">
    <h4 class="display-6 uk-border-rounded col-md-12 "
      style=" padding: 10px;color: white;background-image: linear-gradient(to right, rgb({{color.primary_rgb}}),rgb({{color.primary_rgba}}));">
      STORIES FOR THIS WEEK</h4>
    <div class="container-fluid recent" id="activity">
      <div class='col-md-12 uk-text-center' style='margin-top:0px;'>
        <div uk-slider style="padding-left: 0;padding-right: 0;">
          <ul class="uk-slider-items" style="text-align:center;padding-top: 0 !important;">
            {% for story in thisweekstory %}
            <li class=" col-xs-12 col-csm-4 col-csx-6 col-csl-6 col-md-3" style="margin: 0px;padding: 5px;">
              {% if story in newstories %} <a href="#" class="badge badge-pill badge-success"
                style="font-weight: bold; position: absolute;right: 0;z-index: 2;background-color: rgb({{color.primary_rgb}});padding: 5px;padding-top: 10px; border-radius: 50%;width: 30px;height: 30px;">new</a>
              {% endif %}
              <div
                class=" fh5co-recent-work uk-box-shadow-small uk-padding-remove-horizontal uk-text-center uk-border-rounded"
                style='padding-top:0px;background-color: white;padding-bottom: 0;'>

                <div class="container-fluid recent trending" id="activity">


                  <div class=" col-md-12 col-xs-12 trending" style="text-align: center;padding: 0px;">


                    <!--<div class="jumbotron linked col-md-4 col-sm-4 col-xs-4" style="padding-bottom: 0;background-color: rgb({{color.primary_rgb}});">
                        <h4 class="display-6" style='text-align:center;color: white;'>{{story.title}}</h4>
                        <div class="" style="width: 100%;">
                          <img class="card-img-top" src="{{story.image_64}}" alt="Card image cap" style='width:100%'
                            onmouseover="void">
                          <div class="card-body">
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
                            <p class="lead"><em> "{{story.insight}}"</em></p></p>
                            <hr class="my-4">
                          </div>
                        </div>
                      </div>-->

                    <div class="card story trending col-xs-12" style="height: 180px;">
                      <img class="card-img story" src="{{story.image_64}}" alt="">
                      <div class="card-img-overlay story"
                        onclick='window.location = "{% url 'readstory' slug=story.slug %}"'> <a href="#"><span
                            class='fa fa-heart heart'></span></a>
                        <div class="bottom-text uk-position-center">
                          <h5 class="card-title">{{story.title}}</h5>
                          <p class="card-text">{{story.insight}}</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 uk-text-left" style="font-weight: bold;">{{story.category.title}}</div>

                    <div class=" col-xs-12" style="padding: 2px;border-radius: 0;padding: 0;">
                      <div class="uk-padding-small uk-padding-remove-horizontal uk-text-left uk-border-rounded"
                        style="margin: 0px;box-sizing: border-box;">
                        <div class="uk-text-center col-xs-12 uk-padding-remove">
                          <div class="col-xs-4 uk-padding-remove"><span class="fas fa-book-open "></span> <span>
                              {{story.number_of_episodes}}</span></div>
                          <div class="col-xs-4 uk-padding-remove"> <span class="fas fa-newspaper "></span> <span>
                              {{story.number_of_scenes}}</span></div>
                          <div class="col-xs-4 uk-padding-remove"><span class="fas fa-book-reader"></span> <span>
                              {{story.number_of_views}}</span></div>

                        </div>

                        <div class="blogpost-footer-author-section col-xs-12" style="display: inline-block; ">

                          <div class="col-xs-12" style="padding:0;">
                            <div class="blogpost-footer-author uk-align-left col-xs-12"
                              style="text-align: left !important;">
                              <div class='col-xs-12'> <img class="avatar" src="{{story.library_logo_64}}" alt="" />
                                {% if story.library_id in subscribedlibrariesid %}
                                <span class="fa fa-check-circle-o"
                                  style="margin: 0;margin-top: 5px; float: right;color: rgb({{color.primary_rgb}}) !important;"></span>

                                {% else %}
                                <a href="{% url 'library_subscribe' libid=trendingstory.library_id %}"
                                  class="hollow button success"
                                  style="margin:5px;margin-bottom:0;margin-top: 5px;float: right;">Subscribe</a>

                                {% endif %}</div>

                              <div class="author col-xs-12" style="margin-right: 20px;">{{story.library_name}}</div>



                            </div>
                          </div>


                        </div>
                      </div>

                    </div>

                  </div>


                  <!--
      
                        <div class="jumbotron linked" style="min-width: 200px; padding-bottom: 0;">
                          <h4 class="display-6" style='text-align:center'>{{story.title}}</h4>
                          <div class="" style="width: 100%;">
                            <img class="card-img-top" src="{{story.image_64}}" alt="Card image cap" style='width:100%'
                              onmouseover="void">
                            <div class="card-body">
                              <!--   <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <p class="lead"><em> "{{story.insight}}"</em></p>
                              <hr class="my-4">
                            </div>
                          </div>
                        </div>-->
                </div>
              </div>

            </li>
            {% endfor %}
          </ul>

          <a class="uk-position-center-left uk-position-small  fas fa-book-open slider-dot slider-dot-left" href="#"
            uk-slider-item="previous" style="left: -10px;"></a>
          <a class="uk-position-center-right uk-position-small  fas fa-book-open slide-dot slider-dot-right" href="#"
            uk-slider-item="next" style="right: -10px;"></a>


        </div>
      </div>
    </div>
  </div>
</div>

{% endif %}