<div class="row m-0 mt-4">
    <div class="col-12 col-md-4 p-1 col-sm-4" >
        <div class="card m-0" style="min-height: 100px">
            <div class="p-2">

                <div class="row m-0 text-center">
                    <div class=" uk-padding-remove col-12" style="">
                        <a href="{% url 'customer_home' %}"><img src="{{settings.logo.url}}" alt=""
                                style="width: 100px"></a>
                    </div>
                    <div class="col-12 mt-2">
                        <p class="text-bold text-primary">Jeme's Delight Homemade Foods</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="p-1 col-12 col-md-4 p-1 col-sm-4" >
        <div class="card m-0" style="min-height: 100px">
            <div class="p-2 row m-0">
                <div class="col">
                    <p class="text-primary text-bold">Connect with us</p>
                </div>
                <div class="col-md-12 text-right" style="">
                    <div class="row m-0" style="max-width: 320px;">
                        <div class="col text-center p-1"> <a target="_blank"
                                href="https://web.facebook.com/jemesdelight" class="bg-white  uk-icon-button">
                                <i class="fab fa-facebook text-blue fa-2x"> </i></a></div>

                        <div class="col text-center p-1"><a target="_blank"
                                href="https://instagram.com/jemes_delightfoods" class="bg-white  uk-icon-button">
                                <i class="fab fa-instagram text-purple fa-2x"> </i> </a></div>
                        <div class="col text-center p-1"><a target="_blank"
                                href="https://api.whatsapp.com/send?phone=2347053704655 "
                                class="bg-white  uk-icon-button">
                                <i class="fab fa-whatsapp text-green fa-2x"> </i> </a></div>
                        <div class="col text-center p-1"> <a target="_blank" href="mailto:jemea22@gmail.com"
                                class="bg-white  uk-icon-button">
                                <i class="fa fa-envelope text-darker fa-2x"> </i></a></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 p-1 col-sm-4 p-1" >
        <div class="card m-0" style="min-height: 100px">
            <div class="p-2 row m-0">
                <div class="col-12">
                    <p class="text-primary text-bold">Find us <i class="fa fa-map-marker"></i></p>
                </div>
                <div class="col-12">
                    <p class="text-darker">Omole Estate, phase 1 (0.85 km) 23401 Lagos, Nigeria
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>