{% extends "base/ubase.html" %}
{% load static %}
{% block content %}

<div id="cart-container" class="text-center">

    {% include 'customers/cart_container.html' %}

</div>



<div class="bg-white rounded-md pb-4">
    <div class="text-left mt-4 border-bottom">
        <p class="h2 text-darker uk-display-inline-block p-2">Products you may like</p>
    </div>
    <div class="load-content position-relative mt-4" style="min-height: 20px;" contenturl="{% url 'customer_products_you_may_like' %}">
        
    </div>
</div>

<script>
    
    $(".quantity").change( function (event) {
        var inputValue = Number($(this).val())
        var price = Number($(this).attr('price'))
        var unit = $(this).attr('unit')
        var amount = price * inputValue
        $('#purchase-amount').empty().html('₦ '+String(amount))
    })


    $(".increase-quantity").on('click', function (event) {
      event.preventDefault()
      var button = $(this)
      var quantityFieldValue=$(button.attr('inputfield'))
      quantityFieldValue.val(Number(quantityFieldValue.val())+1)
      var inputValue = quantityFieldValue.val()
        var price = Number(quantityFieldValue.attr('price'))
        var unit = quantityFieldValue.attr('unit')
        if (Number(inputValue) > 1){
          unit+='s'
        }
        var amount = price * inputValue
        $('#price'+button.attr('product')).empty().html('₦ '+String(formatCurrency(amount)+'.00'))
        addToCart(inputValue,button.attr('product'))
    })


    $(".decrease-quantity").on('click', function (event) {
      event.preventDefault()
      var button = $(this)
      var quantityFieldValue=$(button.attr('inputfield'))
      quantityFieldValue.val(Number(quantityFieldValue.val())-1)
      var inputValue = quantityFieldValue.val()
        var price = Number(quantityFieldValue.attr('price'))
        var unit = quantityFieldValue.attr('unit')
        if (Number(inputValue) > 1){
          unit+='s'
        }
        var amount = price * inputValue
        $('#price'+button.attr('product')).empty().html('₦ '+String(formatCurrency(amount)+'.00'))
        addToCart(inputValue,button.attr('product'))

    })
</script>


{% endblock content %}