<p class="text-success"> <i class="fa fa-check-circle fa-2x mr-3"></i> One more step to complete your order</p>
<div class="mt-3">
  {% if settings.payment_options == 'both' %}
    <button class="btn-success uk-width-1-1 m-0 btn" onclick="payWithPaystack('{% if customer %}{{customer.email}}{% else %}none@gmail.com{% endif %}','{{order.total}}','{{order.orderid}}')"> <i class="fa fa-credit-card mr-3">

  </i> PAY NOW (Paystack)</button> 

    <button class="btn-primary uk-width-1-1 m-0 content-btn mt-3 btn" contenturl="{% url 'customer_pay_on_delivery' orderid=order.orderid %}"> <i class="fa fa-check mr-3"></i>PAY ON DELIVERY</button>
  {% elif  settings.payment_options == 'on' %}
  <button class="btn-success uk-width-1-1 m-0  btn" onclick="payWithPaystack('{% if customer %}{{customer.email}}{% else %}none@gmail.com{% endif %}','{{order.total}}','{{order.orderid}}')"> <i class="fa fa-credit-card mr-3">
    {% elif  settings.payment_options == 'od' %}
    <button class="btn-primary uk-width-1-1 m-0 content-btn mt-3 btn" contenturl="{% url 'customer_pay_on_delivery' orderid=order.orderid %}"> <i class="fa fa-check mr-3"></i>PAY ON DELIVERY</button>
{% endif %}
  </div>
  <script>
    $('.content-btn').off()
   {
     (function ($) {
       $('.content-btn').on('click', function (event) {
         event.preventDefault()
         // UIkit.offcanvas($('#offcanvas-content')).show();
         var link = $(this);
        alert(link.attr('contenturl'))
        var response = requestContentModal(link, link.attr('contenturl'), 'get')
 
       })
     }(jQuery))
   }
 </script>