<form class="form uk-animation-slide-right-medium" id="signupform" method="POST" action="{% url 'account_signup' %}">

    {% csrf_token %}
    <div class="card-body ">
        <div class="text-left">
            <p class="uk-text-lead h3">
                <P class="h2 m-0 uk-text-bold">Welcome,</P>   

                <span class="uk-text-capitalize">
                    {% if profile.title %} {{profile.title}} {% endif %} </span>
                <span class="text-capitalize"> {{profile.last_name}}</span> <span
                    class="text-capitalize">{{profile.first_name}}</span>
            </p>
            <!-- {{identifier}} -->

            <div class="p-2 border rounded-pill bg-secondary">
                <span class="pr-2">Your account type is</span>      <span class="text-dark uk-text-bold">               
                "{% if profile.account_type == 'I' %}Individual{% elif profile.account_type == 'C' %}Couple 
                {% elif profile.account_type == 'Cr' %}Corporate{% elif profile.account_type == 'S' %}Sponsor   
                {% endif %}"
             </span>  </div>
        </div>


        <!-- <p class="uk-text-lead mt-4 h4 text-left">Create new password</p> -->
        <div class="m-1">
            
                <input class="uk-input form-control pl-5 p-2 bg-transparent" style="height: max-content;" id="identifier"
                    type="hidden" value="{{identifier}}" name="identifier">
     
           
                    <div class="uk-inline mt-4" style="width: 100%;">

                        <!-- <span class="uk-position-center-left ml-2"> <i class="fa fa-lock"></i></span> -->
                        <input class="uk-input form-control p-3 pr-5 password  rounded-md position-relative "
                            style="z-index: 2;" id="password" type="password" name="password" required>
    
                        <span class="uk-position-center-right mr-2" style="z-index: 2;">
                            <i class="fa fa-eye reveal-password " ></i>
                        </span>
                        <span class=" uk-position-center-left rounded-sm pl-1 pr-1 ml-2 c-label"
                            style="z-index: 1;font-size: 12px;">
                           Create new password
                        </span>
                    </div>
            <i class="text-dark uk-text-small">Password must be upto 8 in length. It should contain alphabets and numbers</i>
        </div>
        <input type="hidden" name="next" value="{{redirect_url}}" />

        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
    </div>
        <button class="btn bg-primary text-white" type="submit" style="">Login</button>

</form>



<script>

    {
        (function ($) { //Most read async
            $('.reveal-password').on('click', function (event) {
                var iconEl = $(this)
                if ($('.password').attr('type') == 'password') {
                    $('.password').attr('type', 'text')
                    iconEl.removeClass('fa-eye')
                    iconEl.addClass('fa-eye-slash')

                }
                else {
                    $('.password').attr('type', 'password')
                    iconEl.removeClass('fa-eye-slash')
                    iconEl.addClass('fa-eye')

                }
            }
            )
        }
            (jQuery))
    }

    $("#signupform").submit(function (event) {
    event.preventDefault(); //prevent default action 
    var post_url = $(this).attr("action"); //get form action url
    var request_method = $(this).attr("method"); //get form GET/POST method
    var form_data = new FormData(this); //Creates new FormData object
    if($('#password').val().length >= 8){
        numbers = []
        characters = []
        password = $('#password').val()
        
        for (let i = 0; i < password.length; i++) {
            if(password[i] == ' '){
                notificationModal("Invalid Password.<br> <p class='uk-text-bold text-danger'> Password cannot contain a space </p>")
                break
            }
            else{
                char = String(Number(password[i]))
            
            if(char == 'NaN'){
                characters.push(password[i])
            }
            else{
                numbers.push(password[i])
            }
            }
            
            
        }

        if (numbers.length >0 && characters.length > 0){
            $.ajax({
      beforeSend: function () {
        showLoadingBar()
      },
      complete: function () {
        hideLoadingBar()
      },
      url: post_url,
      type: request_method,
      data: form_data,
      contentType: false,
      cache: false,
      processData: false,

      success: function (response) {
        if(response.invalid){
          if (response.modal_notification) {
          notificationModal(response.modal_notification)

        }
        }
        else if (response.logged_in){
        window.location= '/'

        }
      },
      error: function (xhr, status, error) {
        UIkit.notification.closeAll()
        UIkit.notification('Operation not successful. Check your internet connection',)
      }
    });
     
        }
        else if(Number($('#password').val())){
            notificationModal("Invalid Password.<br> <p class='uk-text-bold text-danger'>Password cannot be entirely numeric </p>")

        }
        else{
            notificationModal("Invalid Password.<br> <p class='uk-text-bold text-danger'>Password cannot be entirely alphabets </p>")
  
        }

   } 
    else{
           
           notificationModal("Invalid Password.<br> <p class='uk-text-bold text-danger'> Password must be up 8 characters and must contain alphalbets and letters </p>")

         
       } 
});



</script>


<script>

    {
        (function ($) {
            var pageStatus = null;
            var progress = null;
            var animationInterval = 33;

            window.document.addEventListener("readystatechange", function () {
                if (document.readyState == "complete") {
                    pageStatus = "complete";
                }
                else {
                    progress++

                    $('#progress').progress({
                        percent: progress
                    });
                }
            }, false);


            function updateProgress() {
                if (pageStatus == "complete") {
                    $('#progress').progress({
                        percent: 100
                    });
                    setTimeout(function () {
                        $('#page-ready-cover').addClass('uk-transition-fade uk-transition-slow')
                        $('#page-ready-cover').transition('fade')
                    }, 700);
                }
                else {
                    if (progress == null) {
                        progress = 1;
                    }

                    progress = progress + 1;
                    if (progress >= 0 && progress <= 30) {
                        animationInterval += 1;
                        $('#progress').progress({
                            percent: progress
                        });
                    }
                    else if (progress > 30 && progress <= 60) {
                        animationInterval += 2;
                        $('#progress').progress({
                            percent: progress
                        });
                    }
                    else if (progress > 60 && progress <= 80) {
                        animationInterval += 3;
                        $('#progress').progress({
                            percent: progress
                        });
                    }
                    else if (progress > 80 && progress <= 90) {
                        animationInterval += 4;
                        $('#progress').progress({
                            percent: progress
                        });
                    }
                    else if (progress > 90 && progress <= 95) {
                        animationInterval += 80;
                        $('#progress').progress({
                            percent: progress
                        });
                    }
                    else if (progress > 95 && progress <= 99) {
                        animationInterval += 150;
                        document.getElementById("pageLoader").innerHTML = progress;
                    }
                    else if (progress >= 100) {
                        $('#progress').progress({
                            percent: progress
                        });
                    }
                    setTimeout(updateProgress, animationInterval);
                }
            }

            var intervalObject_1 = setInterval(function () {
                var element = document.querySelector("body");

                if (element != undefined) {
                    clearInterval(intervalObject_1);

                    updateProgress();
                }
            }, 50);

        }(jQuery))
    }

</script>