<form class="form uk-animation-slide-right-medium" id="loginform" method="POST" action="{% url 'account_auth' %}">

    {% csrf_token %}
    <div class="card-body ">
        
        <div class="uk-inline mt-4" style="width: 100%;">

            <input class="uk-input form-control pl-5 p-2 bg-transparent" style="height: max-content;" id="secretpin"
            type="hidden" value="{{identifier}}" name="username">
            <!-- <span class="uk-position-center-left ml-2"> <i class="fa fa-lock"></i></span> -->
            <input class="uk-input form-control p-3 pr-5 password  rounded-md position-relative "
                style="z-index: 2;" id="password" type="password" name="password" required>

            <span class="uk-position-center-right mr-2" style="z-index: 2;">
                <i class="fa fa-eye reveal-password " ></i>
            </span>
            <span class=" uk-position-center-left rounded-sm pl-1 pr-1 ml-2 c-label"
                style="z-index: 1;font-size: 12px;">
                Enter your password
            </span>
        </div>
        
        <input type="hidden" name="next" value="{{redirect_url}}" />

        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
    </div>
        <button class="btn bg-primary text-white" type="submit" style="">Login</button>
        <br>
        <a class="uk-button uk-button-default uk-margin text-darker" href="{% url 'account_reset_password' %}"
        style="border-radius: 30px;">Forgot Password?</a>
</form>



<script>

    {
        (function ($) { //Most read async
            $('.reveal-password').on('click', function (event) {
                var iconEl = $(this)
                if ($('.password').attr('type') == 'password') {
                    $('.password').attr('type', 'text')
                    iconEl.removeClass('fa-eye')
                    iconEl.addClass('fa-eye-slash')

                }
                else {
                    $('.password').attr('type', 'password')
                    iconEl.removeClass('fa-eye-slash')
                    iconEl.addClass('fa-eye')

                }
            }
            )
        }
            (jQuery))
    }

    $("#loginform").submit(function (event) {
        event.preventDefault(); //prevent default action 
        var post_url = $(this).attr("action"); //get form action url
        var request_method = $(this).attr("method"); //get form GET/POST method
        var form_data = new FormData(this); //Creates new FormData object
        $.ajax({
            beforeSend: function () {

                showLoadingBar()
            },
            complete: function () {
                hideLoadingBar()

            },
            url: post_url,
            type: request_method,
            data: form_data,
            contentType: false,
            cache: false,
            processData: false,

            success: function (response) {
                if (response.url) {
                    document.location.replace('https://google.com')
                    window.location = response.url

                }

                if (response.modal_message) {
                    messageModal(response.modal_message, response.heading)

                }
                if (response.modal_notification) {
                    notificationModal(response.modal_notification)

                }

                if (response.modal_content) {
                    contentModal(response.modal_content, response.heading)

                }
                if (response.message) {
                    UIkit.notification.closeAll()
                    UIkit.notification(response.message)
                }
            },

            error: function (xhr, status, error) {
                UIkit.notification.closeAll()
                UIkit.notification('Operation not successful. Check your internet connection',)
            }
        });
    });




</script>


<script>

    {
        (function ($) {
            var pageStatus = null;
            var progress = null;
            var animationInterval = 33;

            window.document.addEventListener("readystatechange", function () {
                if (document.readyState == "complete") {
                    pageStatus = "complete";
                }
                else {
                    progress++

                    $('#progress').progress({
                        percent: progress
                    });
                }
            }, false);


            function updateProgress() {
                if (pageStatus == "complete") {
                    $('#progress').progress({
                        percent: 100
                    });
                    setTimeout(function () {
                        $('#page-ready-cover').addClass('uk-transition-fade uk-transition-slow')
                        $('#page-ready-cover').transition('fade')
                    }, 700);
                }
                else {
                    if (progress == null) {
                        progress = 1;
                    }

                    progress = progress + 1;
                    if (progress >= 0 && progress <= 30) {
                        animationInterval += 1;
                        $('#progress').progress({
                            percent: progress
                        });
                    }
                    else if (progress > 30 && progress <= 60) {
                        animationInterval += 2;
                        $('#progress').progress({
                            percent: progress
                        });
                    }
                    else if (progress > 60 && progress <= 80) {
                        animationInterval += 3;
                        $('#progress').progress({
                            percent: progress
                        });
                    }
                    else if (progress > 80 && progress <= 90) {
                        animationInterval += 4;
                        $('#progress').progress({
                            percent: progress
                        });
                    }
                    else if (progress > 90 && progress <= 95) {
                        animationInterval += 80;
                        $('#progress').progress({
                            percent: progress
                        });
                    }
                    else if (progress > 95 && progress <= 99) {
                        animationInterval += 150;
                        document.getElementById("pageLoader").innerHTML = progress;
                    }
                    else if (progress >= 100) {
                        $('#progress').progress({
                            percent: progress
                        });
                    }
                    setTimeout(updateProgress, animationInterval);
                }
            }

            var intervalObject_1 = setInterval(function () {
                var element = document.querySelector("body");

                if (element != undefined) {
                    clearInterval(intervalObject_1);

                    updateProgress();
                }
            }, 50);

        }(jQuery))
    }

</script>