{% extends "base/base2.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container-fluid uk-padding-large text-center">
    <div class="row">
        <div class="col-lg-4 col-md-6 ml-auto mr-auto">
            <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

            {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please
                request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
            {% else %}
            {% if form %}

            <div class="card card-login border rounded-lg text-left" style="">
                <div class="card-body">
                    <img src="http://localhost:8000{{settings.logo.url}}" class="card-img-top" alt=""
                        style="width:100px;display: inline-block;">

                    <form method="POST" action="{{ action_url }}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" name="action" class="btn btn-primary"
                            value="{% trans 'change password' %}" />
                    </form>
                </div>
            </div>
            {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
            {% endif %}
            {% endif %}
        </div>
    </div>
    </div>
    {% endblock %}