{% extends "themes/simple/base/ubase.html" %}
{% load static %}
{% block content %}
<div class="bg-white ">
  <div class="container-fluid recent m-0 p-0 load-content" identifier="slideshows" contenturl="{% url 'customer_slideshows' %}" >

  </div>


  <div class="text-left mt-4  border-bottom">
    <p class="text-bold uk-text-lead text-darker uk-display-inline-block p-2">Categories</p>
  </div>
  <div class="container-fluid recent m-0 p-0" >

    <div class="row m-0 p-0 mt-0 pt-4 pb-4 bg-secondary">
      {% for product in groupproducts %}
      <div class="col-cmd-2-e col-csm-5-e col-css-7 col-csx-7 col-csxx-7 p-1 position-relative">
        <div class="rounded-circle position-relative p-0 border border-primary overflow-hidden card m-0"
          style="border-style: dashed !important;max-height: 230px;max-width: 230px;">
          <img class="card-img" src="{{product.image.url}}" alt="" style="max-height: 230px;max-width: 230px;">
          <!-- <div class="card-img-overlay">
             
            </div> -->
          <!-- <div class="rounded-circle uk-position-top-right mt-1 mr-1 overflow-hidden"
              style="width: 60%;border: 5px solid {% cycle 'black' 'hotpink' 'chartreuse' %};">
              <img class="" src="{{product.image.url}}" alt="">
            </div> -->
          <div class=" text-left pr-3 uk-position-center-left mb-5 ml--2 pl-3 bg-translucent-darker rounded-pill">
            <p class="h6 text-white">{{product.name}}</p>
          </div>

          <!-- <div class="bg-red text-white h2 uk-display-inline-block text-center p-2 rounded-lg uk-position-bottom-center mb--3">
          {{product.name}}
        </div> -->
        </div>
        <div class=" text-left p-2 ml-1 mb--2 uk-position-bottom-left">
          <a class="btn btn-primary rounded-pill m-0" href="{% url 'customer_our_offers' name=product.name %}">More</a>
        </div>
      </div>

      {% endfor %}

    </div>
  </div>
  <div class="text-left mt-4 border-bottom row m-0">
    <div class="col p-0">
      <p class="text-bold uk-text-lead text-dark uk-display-inline-block p-2">Our Products</p>

    </div>
    <div class="col text-right">
      <a href="{% url 'customer_all_products' %}" class="text-primary text-bold">SEE ALL</a>
    </div>
  </div>
  <div class="load-content position-relative mt-4 row m-0" identifier="home_products" contenturl="{% url 'customer_all_products' %}">
  </div>

  <div class="">
    <div class="load-content position-relative mt-4 row m-0" identifier="home-group-sections"
      contenturl="{% url 'all_customer_home_group_sections'%}">
    </div>
  </div>
  <div class="text-left mt-4 border-bottom">
    <p class="text-bold uk-text-lead text-dark uk-display-inline-block p-2">Special packages</p>
  </div>
  {% if specialpackages %}
  <div class="container-fluid recent m-0 p-0" id="activity">

    <div class="row m-0 p-2 mt-2">
      {% for product in specialpackages %}
      <div class="col-cmd-4-e col-csm-5-e col-css-7 col-csx-7 col-csxx-14 p-2 mb-2">
        <div class="rounded-lg position-relative p-0 card m-0" style="border-style: dashed !important;">
          <img class="card-img" src="{{product.image.url}}" alt="">

          <div class="text-center bg-translucent-darker p-2 rounded-0">
            <h5 class="card-title">{{product.name}}</h5>
            <a href="{% url 'customer_product_details' productid=product.productid %}"
              class="btn btn-primary rounded-pill m-0 pr-4 pl-4"> <i class="fa fa-plus mr-2"></i> More</a>
          </div>


          <!-- <div class="bg-red text-white h2 uk-display-inline-block text-center p-2 rounded-lg uk-position-bottom-center mb--3">
        {{product.name}}
      </div> -->
        </div>

      </div>

      {% endfor %}

    </div>
  </div>
  {% else %}
  <div class="text-center p-6">
    <p class="h1 text-light">Coming soon!</p>
  </div>
  {% endif %}
</div>




<script>
    // jQuery(document).ready(function () {
    //          $.ajax({
    //            beforeSend: function () {

    //            },
    //            complete: function () {
    //            },
    //            type: 'get',
    //            url: '',
    //            data: {
    //              'csrfmiddlewaretoken': window.CSRF_TOKEN, // from index.html
    //            },
    //            success: function (response) {

    //              if (response.content) {
    //                $('#payments').empty()

    //                $('#payments').append(response.content);
    //              }


    //            },
    //            error: function (xhr, status, error) {
    //            //   alert('there was an error')
    //            }
    //          });
    //        })



</script>



{% endblock content %}