    <div class="p-2 uk-display-inline-block rounded-lg bg-white overflow-hidden card shadow-none m-0" style="z-index: 2;">
      <a href="{% url 'customer_product_details' productid=product.productid %}" class="position-relative">
        <div class="rounded-0 position-relative p-0 overflow-hidden  shadow-none m-0 text-center card">
          <div class="pb-0 pl-2 pt-2 pr-2">
            <img class="card-img" src="{{product.image.url}}" alt="" style="width: 100px; height: 100px;">

          </div>

          <div class=" rounded-md p-0 mt-2 m-0 text-sm text-center">
            <div class="pl-1 pr-1 pt-0 pb-0">
              <p class="text-sm">{{product.name | truncatechars:15}} </p>
            </div>
            <div class=" pl-1 pr-1 pt-0 pb-0 text-center">
              <p class="text-bold text-sm text-darker">{{product.formatted_price}}</p>

            </div>

          </div>
        </div>
      </a>
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12 p-0 position-relative">
      <button class="btn btn-primary m-0 uk-width-1-1 content-btn p-1 btn-sm"
        contenturl="{% url 'customer_add_to_cart' productid=product.productid %}">
       
          <span class="col-csxx-x-5 p-0 pr-2 text-left">
            <i class="fa fa-cart-plus"></i>

          </span>
          <span class="col-csxx-x-9  p-0 text-right pr-2">
            Add to cart
          </span>
   
      </button>
    </div>


    <script>
      $('.ui.rating')
        .rating('disable')
        ;
    </script>
    
    <script>
    
    {
            (function ($) {
                $('.uk-card-hover').on('mouseover', function () {
                    $(this).find('.action').removeClass('hide')
                })
            }(jQuery))
        }
    
        {
            (function ($) {
                $('.uk-card-hover').on('mouseout', function () {
                    $(this).find('.action').addClass('hide')
                })
            }(jQuery))
        }
    
        $('.off-canvas-btn').off()
        {
            (function ($) {
                $('.off-canvas-btn').on('click', function () {
                    UIkit.offcanvas($('#offcanvas-content')).show();
                    var link = $(this);
                    loadOffCanvasContent(link)
                })
            }(jQuery))
        }
    
    
    
    
    </script>
    
    <script>
       $('.content-btn').off()
      {
        (function ($) {
          $('.content-btn').on('click', function (event) {
            event.preventDefault()
            // UIkit.offcanvas($('#offcanvas-content')).show();
            var link = $(this);
           var response = requestContentModal(link, link.attr('contenturl'), 'get')
    
          })
        }(jQuery))
      }
    </script>