<div class="col-md-4 col-12 col-sm-4 col-lg-4 mt-3 " >
  <div class="card rounded-md m-0 shadow-none border" style="height: 100%;">
    <div class="card-body p-2">
        <div class="row m-0">
            <div class="col text-left" >
              <p class="text-bold h3 text-gray">AVAIL STOCKS</p>
            </div>

            <div class="col text-right p-0">
              <p class="h2 text-bold rounded-circle bg-gradient-cyan position-relative uk-display-inline-block" style="height: 50px;width: 50px;">
                <i class="fas fa-pager uk-position-center text-white"></i></p>
            </div>
            <div class="col-12 text-left">
              <p class="h2 text-bold">{{product.available_stock}}</p>
            </div>
        </div>

    </div>
  </div>
</div>
<div class="col-md-4 col-12 col-sm-4 col-lg-4 mt-3" >
  <div class="card rounded-md m-0 shadow-none border" style="height: 100%;">
      <div class="card-body p-2">
          <div class="row m-0">
              <div class="col text-left">
                <p class="text-bold h3 text-gray">NO. SOLD</p>
              </div>
              <div class="col text-right p-0">
                <p class="h2 text-bold rounded-circle bg-gradient-danger position-relative uk-display-inline-block" style="height: 50px;width: 50px;">
                  <i class="fa fa-check-square uk-position-center text-white"></i></p>
              </div>

              <div class="col-12 text-left">
                <p class="h1 text-bold">{{sales}}</p>
              </div>
          </div>
      </div>
    </div>
</div>
<div class="col-md-4 col-12 col-sm-4 col-lg-4 mt-3" >
  <div class="card rounded-md m-0 shadow-none border" style="height: 100%;">
      <div class="card-body p-2">
          <div class="row m-0">
              <div class="col text-left">
                <p class="text-bold h3 text-gray">IMPRESSION</p>
              </div>
              <div class="col text-right p-0">
                <p class="h2 text-bold rounded-circle bg-gradient-indigo position-relative uk-display-inline-block" style="height: 50px;width: 50px;">
                  <i class="fa fa-eye uk-position-center text-white"></i></p>
              </div>

              <div class="col-12 text-left">
                <p class="h1 text-bold">{{seen}}</p>
              </div>
          </div>
      </div>
    </div>
</div>
<div class="col-md-4 col-12 col-sm-4 col-lg-4 mt-3" >
  <div class="card rounded-md m-0 shadow-none border" style="height: 100%;">
      <div class="card-body p-2">
          <div class="row m-0">
              <div class="col text-left">
                <p class="text-bold h3 text-gray">REVENUE</p>
              </div>
              <div class="col text-right p-0">
                <p class="h2 text-bold rounded-circle bg-gradient-success position-relative uk-display-inline-block" style="height: 50px;width: 50px;">
                  <i class="fas fa-coins uk-position-center text-white"></i></p>
              </div>

              <div class="col-12 text-left">
                <p class="h1 text-bold">{{revenue}}</p>
              </div>
          </div>
      </div>
    </div>
</div>
