<div class="card p-0 m-0 mt-1 uk-text-left rounded-md" for="{{product.productid}}">

    <div class="card-body p-2">
        <p class="text-center"> {{product.name}}
        </p>
        <div class="row m-0">
            <!-- <div class="col-12 text-left">
                      <p class="text-bold h3">Product name</p>
                    </div> -->

            <div class="col-12 text-center">
                <p class="h3 text-bold"></p>
            </div>
        </div>
        <div class="row m-0">


            <div class="col-12 text-center">
                <img src="{{product.url}}" alt="" style="max-height: 100px;">
            </div>
        </div>

        <div class="text-center mt-3">
            <button class="uk-width-1-1 rounded-md btn btn-secondary m-0 shadow-none">Remove</button>
        </div>
    </div>
</div>
