{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />

  <title>{{title}}</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">

  {% block style %}
  <link rel="stylesheet" type="text/css" href="{% static 'fontawesome/css/all.min.css' %}" />
  {% endblock %}

  <link rel="stylesheet" href="{% static 'base/fontawesome/css/fontawesome.min.css' %} ">
  <!-- <link rel="stylesheet" href="{% static 'base/boomerang/assets/css/theme.css' %}"> -->
  <!--  <link rel="stylesheet" href="{% static 'base/countdown/css/jQuery.countdownTimer.css' %}">-->
  <link rel="stylesheet" href="{% static 'base/inputcounter/css/handle-counter.min.css' %}">
  <link rel="stylesheet" href="{% static 'base/imagepreview/css/jpreview.css' %}">
  <link rel="stylesheet" href="{% static 'base/formvalidation/js/jquery.validity.css' %}">

  <!-- <link rel="stylesheet" href="{% static 'base/material/assets/css/material-kit.mind1f1.css' %}">-->
  <!-- <link rel="stylesheet" href="{% static 'base/material/assets/css/material-kit.minb68f.css' %}"> -->

  <!-- <link rel="stylesheet" href="{% static 'base/material/assets/css/material-kit.minf27d.css' %}">  -->
  <!-- <link rel="stylesheet" href="{% static 'base/searchselect/css/jquery-customselect-1.9.1.css' %}">    -->
  <link rel="stylesheet" href="{% static 'base/uikit/css/uikit.css' %}">

  <!-- <link rel="stylesheet" href="{% static 'base/semantic/semantic.css' %}"> -->
  <!-- <link rel="stylesheet" href="{% static 'base/qrc/js/src/reset.css' %}"> -->

  <!-- <link rel="stylesheet" href="{% static 'base/qrc/js/src/styles.css' %}"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css" />
  <link rel="stylesheet" href="{% static 'base/semantic/semantic.css' %}">
  <link rel="stylesheet" href="{% static 'base/videothumbnails/jquery.youtubevideo.css' %}">
  <link rel="stylesheet" href="{% static 'base/videomodal/modal-video.min.css' %}">
  <link rel="stylesheet" href="{% static 'base/argon/vendor/nucleo/css/nucleo.css' %}">
  <link rel="stylesheet" href="{% static 'base/argon/css/nucleo-svg.css' %}">
  <link rel="stylesheet" href="{% static 'base/argon/css/argon.css' %}">
  <!-- <link rel="stylesheet" href="{% static 'base/argon/css/argon-design-system.css' %}"> -->
  <link rel="stylesheet" href="{% static 'base/custom/custom.css' %}">
  <link rel="stylesheet" href="{% static 'base/countrycodes/css/intlTelInput.css' %}">


  <link rel="stylesheet" href="{% static 'base/custom/custom.min.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Google+Sans|Noto+Sans">

  {% include 'base/scripts.html' %}
  <script src="{% static 'base/qrc/js/src/webcam.js' %}"></script>

  <script src="{% static 'base/qrc/js/grid.js' %}"></script>
  <script src="{% static 'base/qrc/js/version.js' %}"></script>
  <script src="{% static 'base/qrc/js/detector.js' %}"></script>
  <script src="{% static 'base/qrc/js/formatinf.js' %}"></script>
  <script src="{% static 'base/qrc/js/errorlevel.js' %}"></script>
  <script src="{% static 'base/qrc/js/bitmat.js' %}"></script>
  <script src="{% static 'base/qrc/js/datablock.js' %}"></script>
  <script src="{% static 'base/qrc/js/bmparser.js' %}"></script>
  <script src="{% static 'base/qrc/js/datamask.js' %}"></script>
  <script src="{% static 'base/qrc/js/rsdecoder.js' %}"></script>
  <script src="{% static 'base/qrc/js/gf256poly.js' %}"></script>
  <script src="{% static 'base/qrc/js/gf256.js' %}"></script>
  <script src="{% static 'base/qrc/js/decoder.js' %}"></script>
  <script src="{% static 'base/qrc/js/qrcode.js' %}"></script>
  <script src="{% static 'base/qrc/js/findpat.js' %}"></script>
  <script src="{% static 'base/qrc/js/alignpat.js' %}"></script>
  <script src="{% static 'base/qrc/js/databr.js' %}"></script>
  <script src="{% static 'base/qrc/js/src/effects.js' %}"></script>

  <script type="text/javascript">

    window.CSRF_TOKEN = "{{csrf_token}}";


  </script>

</head>

<body style="min-width: 100%;" class="bg-white position-relative text-left">
  <div id="top">

  </div>



  <!-- <div id='page-cover' style="background-color: teal;width: 100%;height: 100%;position: absolute;top: 0;bottom: 0;z-index: 10000;"></div> -->
  <!-- <div id="dorra-main" style="background-image: url('{{general.primary_image2.url}}'); background-size: cover; background-position: top center;position: absolute;width: 100%;min-height: 100%; top: 0px;background-attachment: fixed;"> -->


  <div class="uk-overlay uk-height-viewport " uk-cover id="loader-cover"
    style="z-index: 1030;background-color: black;opacity: 0.8;position: fixed;display: none;width: 100%;">
    <div class='ui active uk-position-center loader loading big uk-border-circle uk-box-shadow-small uk-padding-small'
      style='position: fixed !important;'>
      <img src="{{settings.logo_loader.url}}" class="logo-loader " alt="">
    </div>
  </div>
  <!-- <div class="uk-overlay uk-height-viewport bg-primary " id="page-ready-cover" uk-cover
    style="z-index: 1031;position: fixed;width: 100%;">
    <div class="uk-position-center container-fluid uk-text-center" style="min-width: 100%;">
      <div class="" style="float: none;">
        {% if settings.logo_loader %}
        <img src="{{settings.logo_loader.url}}" style="height: 80px;"
          class="uk-animation-slide-left-medium" alt="">
        {% endif %}
        {% if settings.logo_loader_text %}
        <img src="{{settings.logo_loader_text.url}}" style="height: 70px;"
          class="uk-animation-slide-right-medium" alt="">
        {% endif %}
      </div>
      <div class="ui tiny col-cmd-14  active progress uk-margin-small-top" id="progress">
        <div class="bar"></div>
      </div>
    </div>
  </div> -->
  <script type="text/javascript">

    window.CSRF_TOKEN = "{{csrf_token}}";
  </script>
  <div class="text-center">
    <div class="uk-display-inline-block col-csxx-x-14" style="width: 100%;max-width: 1500px;">
      <div id="major"
        class="position-relative uk-display-inline-block col-cmd-8 float-none p-0 pb-1 bg-lighter col-csxx-x-14"
        style="">
        <div class=" text-left" style="position: sticky;top: -50px;z-index: 5;">
          {% include 'base/anavbar2.html' %}
          <div class="float-right mt--6" style="position: sticky;top:10px">
            <a class="btn btn-light rounded-circle uk-margin-small-right uk-margin-remove-top bg-lighter border-0 shadow-none"
              style="width: 35px !important;height: 35px !important;" uk-toggle="target: #offcanvas-nav-secondary"
              style="" uk-tooltip='Notifications'>

              <i class="fa fa-bell uk-position-center text-darker" style="font-size: medium;"></i>
              {% if notificationscount > 0 %}
              <span class="uk-position-top-right text-white rounded-circle bg-red mt--1 mr--1 p-0"
                style="height: 17px;width: 17px;font-size: 9px;border: 1.5px solid white;">

                <span class="uk-position-center">
                  {% if notificationscount > 9 %}
                  9+
                  {% else %}
                  {{notificationscount}}
                  {% endif %}
                </span>
              </span>
              {% endif %}
            </a>

            <a class="btn btn-light rounded-circle uk-margin-small-right uk-margin-remove-top bg-lighter border-0 shadow-none"
              style="width: 35px !important;height: 35px !important;">
              <i class="fa fa-user m-0 text-darker uk-position-center" style="font-size: medium;"></i></a>
            <div uk-dropdown="mode:click;pos:bottom-right"
              class="rounded-sm p-0 shadow-none bg-transparent border-0 uk-text-left"
              style="min-width: max-content; max-width: max-content;">
              <div
                class="card mt-2 bg-white mb-0 uk-box-shadow-medium rounded-md border ml-3 text-center uk-display-inline-block"
                style="width: 100%;">
<!-- 
                <div class="card-body pl-2 pr-2 pt-1 pb-1 text-center text-dark">
                  <div class="position-relative uk-display-inline-block" style="width: max-content;">
                    <div
                      class="uk-border-circle bg-transparent uk-display-inline-block mt-1 overflow-hidden p-1 border position-relative"
                      style="height: 80px;width: 80px;border: 4px solid white;">
                      {% if partner.photo %}
                      <img src="{{partner.photo.url}}" alt="" style="width: 100%;display: inline-block;height: 100%;"
                        class="rounded-circle">
                      {% else %}
                      <span class="text-dark uk-position-center h1" style="font-size: 30px;">
                        {{partner.first_name.0}}
                      </span>
                      {% endif %}
                    </div>
                    <button onclick="requestContentModal('{% url 'partner_change_photo' %}','get')"
                      class="btn btn-sm btn-white rounded-circle uk-position-bottom-right border shadow-none bg-white mb-3 mr--2"><i
                        class="fa fa-camera"></i></button>

                  </div>

                  <div class="uk-padding-small text-sm" style="font-weight: bold;max-width: 240px;">
                    {% if partner.account_type == 'I' %}
                    {% if partner.gender == 'M' %}
                    Mr.
                    {% elif partner.gender == 'F' %}
                    {% if partner.marital_status == 'S' %} Miss {% else %} Mrs. {% endif %}
                    {% endif %}
                    {{partner.first_name}} {{partner.last_name}}

                    {% elif partner.account_type == 'Cr' %}
                    {{partner.first_name}} {{partner.last_name}}

                    {% elif partner.account_type == 'S' %}
                    {{partner.first_name}} {{partner.last_name}}
                    {% elif partner.account_type == 'C' %}
                    Mr. & Mrs. {{partner.last_name}}
                    {% endif %}
                    <div
                      class=" text-capitalize p-1 border rounded-pill pl-2 pr-2 bg-gradient-success text-white mt-1 uk-display-inline-block"
                      style="width: max-content;font-size:9px;">
                      {% if partner.account_type == 'I' %} Individual {% elif partner.account_type == 'C' %} Couple
                      {% elif partner.account_type == 'Cr' %} Corporate {% elif partner.account_type == 'S' %} Sponsor
                      {% endif %}
                    </div>
                  </div>
                </div> -->
                <div class="uk-text-center mt-0 p-2">
                  <!-- <a href="{% url 'partner_my_profile' %}"
                    class="main-content-redirect btn btn-secondary rounded-pill m-0 pl-4 pr-4 mt-2 shadow-none">View
                    profile</a> -->
                  <!-- <br> -->
                  <button class="btn btn-secondary rounded-pill signout m-0 shadow-none pr-4 pl-4 mt-2"
                    contenturl="{% url 'partner_account_logout' %}">Sign out</button>
                </div>

              </div>
              <!-- <ul class="uk-nav uk-dropdown-nav ">
                <li class="uk-active"><a href="{% url 'partner_my_profile' %}" class="main-content-redirect">Profile</a>
                </li>
               
                <li class="uk-nav-divider"></li>
                <li><a class="signout" contenturl="{% url 'partner_account_logout' %}">Logout</a></li>
            </ul> -->
            </div>

          </div>
          <div class=" h1 pl-2 text-darker bg-white uk-width-1-1 mb-0 p-2 pb-0"><b>{{page}}</b></div>

        </div>
        <div id="" class="position-relative bg-transparent text-left" style="z-index: 2;">

          {% block content%}


          {% endblock %}
        </div>
      </div>
      </div>
      </div>



      <div id="offcanvas-nav-primary" class="uk-offcanvas " uk-offcanvas="overlay: true;mode:slide">
        <div class="uk-height-viewport uk-offcanvas-bar uk-flex uk-flex-column border-right
      bg-white  uk-offcanvas-bar-animation">
          <div class="card mt-4 mt-0 bg-white" style="box-shadow: none;">
            <div class="card-body">
              <button
                class="uk-offcanvas-close uk-button uk-button-default uk-position-top-right uk-margin-small uk-padding-small"><i
                  class="fa fa-arrow-left uk-padding-small text-darker" style=""></i></button>
            </div>
          </div>
          <!-- <div class="card m-1 mt-4 bg-white border shadow-lg" style="">
        <div class="uk-border-circle bg-indigo uk-position-top-center"
          style="height: 70px;width: 70px;margin-top: -20px;border: 4px solid white;">
          <img src="{{settings.logo.url}}" alt="" style="width: 100%;display: inline-block;">

        </div>
        <div class="card-body uk-padding-small mt-5 text-center text-dark">
          <div class="uk-padding-small " style="font-weight: bold;">Mr. Michael Olubunmi</div>

          <div class="uk-text-center">
            <button class="btn btn-warning ">Logout</button>
            <button class="btn btn-info">Profile</button>
          </div>
        </div>
      </div> -->
          <!-- <hr class="uk-divider-small" style="border:0.1rem solid silver;"> -->



          <ul class="uk-nav uk-nav-primary uk-nav-left  rounded-lg bg-white p-2">
            <li class="dropdown-item rounded-lg pt-3 pb-3 pl-1"><a href="{% url 'admin_dashboard' %}"
                style="text-transform: uppercase;font-size: 14px;"
                class="main-content-redirect uk-padding-small  text-darker uk-text-bold">
                <span class="p-3 pl-4 pr-4  position-relative rounded-sm -default text-white">
                  <i class="fa fa-th-large text-darker uk-position-center"></i></span>
                <span class="p-1">Dashboard</span></a></li>
            <li class="dropdown-item rounded-lg pt-3 pb-3 pl-1"><a href="{% url 'admin_payments' %}"
                style="text-transform: uppercase;font-size: 14px;"
                class="main-content-redirect  uk-padding-small text-darker uk-text-bold">
                <span class="p-3 pl-4 pr-4 position-relative rounded-sm -indigo text-white">
                  <i class="fa fa-history text-darker uk-position-center"></i></span>
                <span class="p-1">Payments</span></a>
            </li>
            <li class="dropdown-item rounded-lg pt-3 pb-3 pl-1"><a href="{% url 'admin_all_members' %}"
                style="text-transform: uppercase;font-size: 14px;"
                class="main-content-redirect  uk-padding-small text-darker uk-text-bold">
                <span class="p-3 pl-4 pr-4 position-relative rounded-sm -green text-white">
                  <i class="fa fa-users text-darker uk-position-center"></i></span>
                <span class="p-1">Members</span></a>
            </li>
            <!-- <li class="dropdown-item rounded-lg pt-3 pb-3 pl-1"><a href="{% url 'admin_events' %}"
            style="text-transform: uppercase;font-size: 14px;"
            class="main-content-redirect text-darker uk-text-bold uk-padding-small ">
            <span class="p-3 pl-4 pr-4  rounded-sm -cyan text-white position-relative"><i
                class="fa fa-calendar-day uk-position-center fa-2x"></i></span>
            <span class="p-1"> Events</span></a></li> -->
            <li class="dropdown-item rounded-lg pt-3 pb-3 pl-1"><a href="{% url 'admin_send_message' %}"
                style="text-transform: uppercase;font-size: 14px;"
                class="main-content-redirect text-darker uk-text-bold uk-padding-small ">
                <span class="p-3 pl-4 pr-4 rounded-sm -danger text-white position-relative"><i
                    class="fa fa-envelope uk-position-center text-darker"></i></span>
                <span class="p-1">Send Message</span> </a></li>
          </ul>

        </div>
      </div>

      {% include 'padmin/information_desk.html' %}

      <div id="response-modal" uk-modal>
        <div class="uk-modal-dialog uk-modal-body ">
          <button class="uk-modal-close-default" uk-close></button>
          <h2 class="uk-modal-title">Message</h2>
          <p class="modal-message"> </p>

        </div>
      </div>


      <div id="qr-content-modal" class="uk-modal-full" uk-modal style="">
        <div class="uk-modal-dialog -secondary" style="height: 100%;">
          <button
            class="uk-modal-close-full btn btn-danger uk-position-top-right uk-margin-small-top uk-padding-remove uk-text-bold "
            style="border-radius: 50%;height: 50px;width: 50px;">Close</button>
          <div class="modal-body qr-body uk-text-center" id="qr-content-modal-body">


          </div>
        </div>
      </div>

      {% include 'base/modals.html' %}



      <script>
        $('.ui.dropdown')
          .dropdown()
          ;
      </script>
      <script>
    // function requestContentModal(contentUrl, action = 'post') {
    //   $.ajax({
    //     beforeSend: function () {

    //       $('#loader-cover').show()
    //     },
    //     complete: function () {
    //       $('#loader-cover').hide()

    //     },
    //     type: action,
    //     url: contentUrl,
    //     data: {
    //       'csrfmiddlewaretoken': window.CSRF_TOKEN, // from index.html
    //     },
    //     success: function (response) {
    //       if (response.content) {
    //         $('#main-container').removeClass('uk-animation-fade')

    //         $('#main-container').addClass('uk-animation-fade')
    //         $('#main-container').empty()
    //         $('#main-container').append(response.content)

    //       }
    //       if (response.modal_message) {
    //         messageModal(response.modal_message, response.heading)

    //       }
    //       if (response.modal_notification) {
    //         notificationModal(response.modal_notification)

    //       }

    //       if (response.modal_content) {
    //         contentModal(response.modal_content, response.heading)

    //       }
    //       if (response.message) {
    //             UIkit.notification.closeAll()
    //             UIkit.notification(response.message)
    //           }


    //     },
    //     error: function (xhr, status, error) {
    //       alert('there was an error')
    //     }
    //   });
    // }

    // function contentModal(body, heading) {
    //   $('.uk-modal-body').css({ 'background-color': 'white', 'color': 'black' })
    //   $('#content-modal-body').empty()
    //   $('#content-modal-header').empty()
    //   $('#content-modal-body').append(body)
    //   $('#content-modal-header').append(heading)
    //   UIkit.modal($('#content-modal')).show();
    // }

    // function messageModal(body, heading) {
    //   $('.uk-modal-body').css({ 'background-color': 'white', 'color': 'black' })
    //   $('#message-modal-body').empty()
    //   // $('#message-modal-header').empty()
    //   $('#message-modal-body').append(body)
    //   // $('#message-modal-header').append(heading)
    //   UIkit.modal($('#message-modal')).show();
    // }


    // function fullcontentModal(body, heading) {
    //   $('.uk-modal-body').css({ 'background-color': 'white', 'color': 'black' })
    //   $('#full-content-modal-body').empty()
    //   $('#full-content-modal-header').empty()
    //   $('#full-content-modal-body').append(body)
    //   $('#full-content-modal-header').append(heading)
    //   UIkit.modal($('#full-content-modal')).show();
    // }


    // {
    //   (function ($) { //Most read async
    //     $('.main-content-redirect').on('click', function () {

    //       var link = $(this);
    //       $.ajax({
    //         beforeSend: function () {

    //           $('#loader-cover').show()
    //         },
    //         complete: function () {
    //         },
    //         type: 'get',
    //         url: link.attr('contenturl'),
    //         data: {
    //           'csrfmiddlewaretoken': window.CSRF_TOKEN, // from index.html
    //         },
    //         success: function (response) {
    //           // if there are still more pages to load,
    //           // add 1 to the "Load More Posts" link's page data attribute
    //           // else hide the link
    //           // append html to the posts div
    //           //$('.uk-modal-header-title').empty()

    //           //$('.uk-modal-header-title').append(link.attr('inner-html'));
    //           if (response.content) {
    //             window.location - '#top'
    //             $('#tab-header').empty()
    //             $('#tab-header').append(response.header);
    //             $('#inner-container').empty();
    //             $('#inner-container').append(response.content);
    //             $('#loader-cover').hide()
    //           }

    //           if (response.message) {
    //             $('#notification-modal-inner').empty()
    //             $('#notification-modal-inner').append(response.message)
    //             $('.uk-modal-body').css({ 'background-color': 'white', 'color': 'black' })
    //             UIkit.modal($('#notification-modal')).show();
    //           }


    //         },
    //       });
    //     });
    //   }(jQuery))
    // };


    // {
    //   (function ($) { //Most read async
    //     $('.main-content-btn').on('click', function (event) {
    //       event.preventDefault();
    //       var link = $(this);
    //       $.ajax({
    //         beforeSend: function () {

    //           $('#loader-cover').show()
    //         },
    //         complete: function () {
    //         },
    //         type: 'get',
    //         url: link.attr('href'),
    //         data: {
    //           'csrfmiddlewaretoken': window.CSRF_TOKEN, // from index.html
    //         },
    //         success: function (response) {
    //           // if there are still more pages to load,
    //           // add 1 to the "Load More Posts" link's page data attribute
    //           // else hide the link
    //           // append html to the posts div
    //           //$('.uk-modal-header-title').empty()

    //           //$('.uk-modal-header-title').append(link.attr('inner-html'));
    //           if (response.content) {
    //             $('#tab-header').empty()
    //             $('#tab-header').append(response.header);
    //             $('#inner-container').empty();
    //             $('#inner-container').append(response.content);
    //             $('#loader-cover').hide()
    //           }

    //           if (response.message) {
    //             $('#notification-modal-inner').empty()
    //             $('#notification-modal-inner').append(response.message)
    //             $('.uk-modal-body').css({ 'background-color': 'white', 'color': 'black' })
    //             UIkit.modal($('#notification-modal')).show();
    //           }


    //         },
    //         error: function (xhr, status, error) {
    //           alert('there was an error')
    //         }
    //       });
    //     });
    //   }(jQuery))
    // };

      </script>
      <script>

        {
          (function ($) { //Most read async
            $('.delete-content').on('click', function (event) {
              event.preventDefault();
              var link = $(this);
              var removableelement = link.attr('removableelement')

              $.ajax({
                beforeSend: function () {
                  $(removableelement).removeClass('uk-animation-fade')

                  $(removableelement).addClass('uk-animation-fade')

                },
                complete: function () {

                },
                type: 'get',
                url: link.attr('contenturl'),
                data: {
                  'csrfmiddlewaretoken': window.CSRF_TOKEN, // from index.html
                },
                success: function (response) {
                  // if there are still more pages to load,
                  // add 1 to the "Load More Posts" link's page data attribute
                  // else hide the link
                  // append html to the posts div
                  //$('.uk-modal-header-title').empty()

                  //$('.uk-modal-header-title').append(link.attr('inner-html'));
                  if (response.done) {
                    $(removableelement).addClass('uk-animation-fade')
                    $(removableelement).remove()

                    if (response.content) {
                      $('#main-container').removeClass('uk-animation-fade')

                      $('#main-container').addClass('uk-animation-fade')
                      $('#main-container').empty()
                      $('#main-container').append(response.content)


                      if (response.message) {
                        UIkit.notification.closeAll()
                        UIkit.notification(response.message)
                      }
                    }
                  }
                  else {
                    UIkit.notification.closeAll()
                    UIkit.notification(response.message)

                  }

                },
                error: function (xhr, status, error) {
                  alert('there was an error')
                }
              });
            });
          }(jQuery))
        };


      </script>
      <script>
        UIkit.offcanvas($('#offcanvas-nav'));

        function flip() {
          $('.logo-loader')
            .transition('pulse')
        }

        setInterval(flip, 1000)


        {
          (function ($) { //Most read async
            $(window).ready(function () {
              // $('#page-ready-cover').addClass('uk-transition-fade uk-transition-slow')
              // $('#page-ready-cover').transition('fade')
              ;

            })
          }(jQuery))
        };

      </script>



      <script>
        $('.demo').youtubeVideo({

          // custom layout
          layout: {
            wrap: $('<div />', { class: 'ytb-video-wrap' }),
            container: $('<div />', { class: 'ytb-video-container' }),
            iframe: $('<iframe />', { class: 'ytb-video-iframe' }),
            button: $('<div />', { class: 'ytb-video-play-button' })
              .append('<svg viewBox="0 0 68 48"><path class="ytb-video-play-button-bg" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z" fill="#212121" fill-opacity="0.8"></path><path d="M 45,24 27,14 27,34" fill="#fff"></path></svg>'),
          },

          /*
            56.25 - 16:9
            75.25 - 4:3
            80.25 - 5:4
            100 - 1:1
          */
          aspectRatio: 56.25,

          /* 'default' - 120x90
            'mqdefault' - 320x180
            'hqdefault' - 480x360
            'sddefault' - 640x480
            'maxresdefault' - 1280x720
            'http://...' - custom image
          */
          cover: 'hqdefault',

          // custom parameters
          parametrs: 'autoplay=0&autohide=1',

          // play event
          playEvent: 'click',


          // or 'button'
          playMode: 'block',

          // or 'playlist'
          type: 'video',

          // Youtube API
          api: '',

          // displays the duration of the video
          // requires Youtube API
          duration: false,

          // displays the video title
          // requires Youtube API
          title: true,

          // displays the video description
          // requires Youtube API
          description: false

        });


        {
          (function ($) {
            $('.ytb-video-play-button,.ytb-video-container').on('click', function (event) {

              var button = $(this)
              var carousel = button.closest('#othervideos')
              UIkit.slider(carousel).stopAutoplay();


            }

            )
          }(jQuery))
        };


        $(".demo").modalVideo({
          channel: 'youtube',
          youtube: {
            autoplay: 1,
            cc_load_policy: 1,
            color: null,
            controls: 1,
            disablekb: 0,
            enablejsapi: 0,
            end: null,
            fs: 1,
            h1: null,
            iv_load_policy: 1,
            list: null,
            listType: null,
            loop: 0,
            modestbranding: null,
            origin: null,
            playlist: null,
            playsinline: null,
            rel: 0,
            showinfo: 1,
            start: 0,
            wmode: 'transparent',
            theme: 'dark'
          },
          ratio: '16:9',
          vimeo: {
            api: false,
            autopause: true,
            autoplay: true,
            byline: true,
            callback: null,
            color: null,
            height: null,
            loop: false,
            maxheight: null,
            maxwidth: null,
            muted: false,
            player_id: null,
            portrait: true,
            title: true,
            width: null,
            xhtml: false
          },
        });

      </script>
      <script>

        {
          (function ($) {
            var pageStatus = null;
            var progress = null;
            var animationInterval = 33;

            window.document.addEventListener("readystatechange", function () {
              if (document.readyState == "complete") {
                pageStatus = "complete";
              }
              else {
                progress++

                $('#progress').progress({
                  percent: progress
                });
              }
            }, false);


            function updateProgress() {
              if (pageStatus == "complete") {
                $('#progress').progress({
                  percent: 100
                });
                setTimeout(function () {
                  $('#page-ready-cover').addClass('uk-transition-fade uk-transition-slow')
                  $('#page-ready-cover').transition('fade')
                  // UIkit.offcanvas($('#offcanvas-nav-primary')).show()
                }, 700);
              }
              else {
                if (progress == null) {
                  progress = 1;
                }

                progress = progress + 1;
                if (progress >= 0 && progress <= 30) {
                  animationInterval += 1;
                  $('#progress').progress({
                    percent: progress
                  });
                }
                else if (progress > 30 && progress <= 60) {
                  animationInterval += 2;
                  $('#progress').progress({
                    percent: progress
                  });
                }
                else if (progress > 60 && progress <= 80) {
                  animationInterval += 3;
                  $('#progress').progress({
                    percent: progress
                  });
                }
                else if (progress > 80 && progress <= 90) {
                  animationInterval += 4;
                  $('#progress').progress({
                    percent: progress
                  });
                }
                else if (progress > 90 && progress <= 95) {
                  animationInterval += 80;
                  $('#progress').progress({
                    percent: progress
                  });
                }
                else if (progress > 95 && progress <= 99) {
                  animationInterval += 150;
                  document.getElementById("pageLoader").innerHTML = progress;
                }
                else if (progress >= 100) {
                  $('#progress').progress({
                    percent: progress
                  });
                }
                setTimeout(updateProgress, animationInterval);
              }
            }

            var intervalObject_1 = setInterval(function () {
              var element = document.querySelector("body");

              if (element != undefined) {
                clearInterval(intervalObject_1);

                updateProgress();
              }
            }, 50);

          }(jQuery))
        }

      </script>

</body>

</html>