<div id="offcanvas-nav-primary" class="uk-offcanvas" uk-offcanvas="overlay: true;mode:slide;" style="z-index: 5 !important;">
    <div class="uk-height-viewport uk-offcanvas-bar p-0 uk-flex uk-flex-column border-0
      bg-white uk-offcanvas-bar-animation">
      <div class="card m-1 mt-0 bg-transparent" style="box-shadow: none;">
        <div class="card-body p-0">

          <!-- <div class="uk-text-center uk-padding-remove" style="width: 100px;">
            <img src="{{settings.logo.url}}" alt="" style="width: 50px">
          </div> -->
          <button
            class="uk-offcanvas-close uk-button uk-button-default uk-position-top-right uk-margin-small uk-padding-small"><i
              class="fa fa-arrow-left  uk-padding-small text-dark"  style="font-size:medium;"></i></button>
        </div>
      </div>
      <div class="card mt-2 bg-transparent mb-0 shadow-none text-left uk-display-inline-block" style="width: 100%;">

        <div class="card-body pl-2 pr-2 pt-1 pb-1 text-left">
          <div class="uk-text-left uk-padding-remove" style="">
            <a href="https://dominionpartnersglobal.com" target="_blank"><img src="{{settings.logo.url}}" alt="" 
              style="width: 100px"></a>   
             </div>
          <div class="position-relative text-center mt-4" style="">
            <div
              class="uk-border-circle  bg-transparent uk-display-inline-block mt-1 overflow-hidden p-1 border position-relative"
              style="height: 80px;width: 80px;border: 4px solid white;">
              {% if partner.photo %}
              <img src="{{partner.photo.url}}" alt="" style="width: 100%;display: inline-block;height: 100%;"
                class="rounded-circle">
              {% else %}
              <span class="text-dark uk-position-center h1" style="font-size: 30px;">
                {{partner.first_name.0}}
              </span>
              {% endif %}
            </div>
            <!-- <button  onclick="requestContentModal(' 'partner_change_photo' %}','get')"
          class="btn btn-sm btn-white rounded-circle uk-position-bottom-right border shadow-none bg-white mb-3 mr--2"><i class="fa fa-camera"></i></button> -->
          <div class="uk-padding-small">
            <p class="text-center uk-text-bold text-dark">  {% if partner.account_type == 'I' %}
              {% if partner.gender == 'M' %}
              Mr.
              {% elif partner.gender == 'F' %}
              {% if partner.marital_status == 'S' %} Miss {% else %} Mrs. {% endif %}
              {% endif %}
              {{partner.first_name}} {{partner.last_name}}
  
              {% elif partner.account_type == 'Cr' %}
              {{partner.company_name}}
  
              {% elif partner.account_type == 'S' %}
              {{partner.first_name}} {{partner.last_name}}
              {% elif partner.account_type == 'C' %}
              {{partner.first_name}} and {{partner.spouse_name}}
              {% endif %}</p>
          
            <!-- <div class=" text-capitalize p-1 border rounded-pill pl-2 pr-2 bg-gradient-success text-white mt-1 uk-display-inline-block" 
            style="width: max-content;font-size:9px;">                     
                {% if partner.account_type == 'I' %} Individual {% elif partner.account_type == 'C' %} Couple 
                {% elif partner.account_type == 'Cr' %} Corporate {% elif partner.account_type == 'S' %} Sponsor   {% endif %}
             </div> -->
          </div>
          </div>

        </div>
        <!-- <div class="uk-text-center mt-0 p-2 border-top border-bottom">
          <a href=" 'partner_my_profile' %}"
            class="main-content-redirect btn btn-outline-light bg-white rounded-pill m-0 pl-4 pr-4 mt-2 shadow-none">View profile</a>
       <br>
        <button class="btn btn-secondary rounded-pill signout m-0 shadow-none pr-4 pl-4 mt-2"
            contenturl=" 'partner_account_logout' %}">Sign out</button> 
          </div> -->

      </div>

      <ul class="uk-nav uk-nav-primary uk-nav-left border-top  bg-transparent mt-2 text-dark">
        <li class="dropdown-item  pt-2 pb-2 pl-1 text-dark"><a href=" 'partner_dashboard' %}"
            style="font-size: 14px;"
            class="main-content-redirect uk-padding-small  ">
            <span class="p-3 pl-4 pr-4  position-relative rounded-sm default text-dark">
              <i class="fa fa-th-large uk-position-center "></i></span>
            <span class="p-1 text-dark">Dashboard</span></a></li>
        <li class="dropdown-item  pt-2 pb-2 pl-1 text-dark"><a href=" 'partner_my_payments' %}"
            style="font-size: 14px;"
            class="main-content-redirect  uk-padding-small ">
            <span class="p-3 pl-4 pr-4 position-relative rounded-sm indigo text-dark">
              <i class="fa fa-history uk-position-center "></i></span>
            <span class="p-1 text-dark"> My Payments</span></a>
        </li>
        <li class="dropdown-item  pt-2 pb-2 pl-1 text-dark"><a href=" 'partner_announcements' %}"
            style="font-size: 14px;"
            class="main-content-redirect  uk-padding-small ">
            <span class="p-3 pl-4 pr-4 position-relative rounded-sm teal text-dark"><i
                class="fa fa-bullhorn uk-position-center "></i></span>
            <span class="p-1 text-dark">Annoucements</span></a></li>

        <li class="dropdown-item  pt-2 pb-2 pl-1 text-dark"><a href=" 'partner_events' %}"
            style="font-size: 14px;"
            class="main-content-redirect  uk-padding-small">
            <span class="p-3 pl-4 pr-4  rounded-sm cyan text-dark position-relative"><i
                class="fa fa-calendar-day uk-position-center"></i></span>
            <span class="p-1 text-dark"> Events</span></a></li>
        <li class="dropdown-item  pt-2 pb-2 pl-1 text-dark"><a href=" 'partner_support' %}"
            style="font-size: 14px;"
            class="main-content-redirect  uk-padding-small ">
            <span class="p-3 pl-4 pr-4 rounded-sm danger text-dark position-relative"><i
                class="ni ni-support-16 uk-position-center" style=""></i></span>
            <span class="p-1 text-dark">Support</span> </a></li>
      </ul>

    </div>
  </div>


<script>
   var spa_links = $('.spa')
</script>