
</div>
<div id="message-modal" class="uk-flex-top top-0 uk-modal" uk-modal>
  <div
    class="uk-modal-dialog uk-modal-body  uk-margin-auto-vertical uk-animation-slide-top-small  rounded-sm overflow-hidden overflow-hidden shadow-none border">
    <!-- <div class="uk-modal-header bg-secondary text-dark p-2 h3 text-uppercase text-center" id="content-modal-header"></div> -->
    <a class="uk-modal-close-default uk-icon-button uk-position-top-right mr-1 mt-1 border-0">
      <i class="material-icons text-dark uk-text-default">close</i></a>

    <div id="message-modal-body" class="card shadow-none text-center p-2"></div>
  </div>
</div>

<div id="notification-box" class="top-0 bg-transparent uk-modal" uk-modal>
  <div class="uk-modal-dialog uk-modal-body  uk-animation-slide-top-small overflow-hidden rounded-md shadow-lg"
    style="width: 100%; max-width: 500px !important;">
    <a class="uk-modal-close-default uk-icon-button uk-position-top-right mr-1 mt-1 border-0">
      <i class="material-icons text-dark" style="font-size: 18px;">close</i></a>

    <div id="notification-box-body" class="card shadow-none text-center h3 p-1" style=""></div>
  </div>
</div>

<div id="content-modal" class="uk-flex-top top-0 uk-modal content-modal p-2" uk-modal>
<div class="fixed-top bg-white border-bottom mobile-el hide">
      <div class="uk-modal-header  text-darker rounded-pill text-darker pr-3 pl-3 p-1 h3 m-1 
      text-capitalize text-left border-0 h2 content-modal-header" style="width: max-content;max-width: 100%;">
      </div>
      <a class="modal-close uk-text-bold uk-position-center-right mr-2 mt-0
     bg-transparent border-0"><i class="material-icons">close</i></a>
    </div>      
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical rounded-sm overflow-hidden  p-0" style=" max-width: 100% !important;">
      <div class="fixed-top bg-white border-bottom desktop-el">
        <div class="uk-modal-header  text-darker rounded-pill text-darker pr-3 pl-3 p-1 h3 m-1 
        text-capitalize text-left border-0 h2 content-modal-header" style="width: max-content;max-width: 100%;">
        </div>
        <a class="modal-close uk-text-bold uk-position-center-right mr-2 mt-0
       bg-transparent border-0"><i class="material-icons">close</i></a>
      </div> 
    

    <div id="content-modal-body" class="card shadow-none text-center p-2 mt-5 m-0"></div>
  </div>
</div>

<div id="full-content-modal" class="uk-modal-full top-0 uk-modal bg-white" uk-modal style="">
    <div class="uk-position-relative">
      <div class="uk-modal-header bg-white text-darker h2 text-capitalize border-0 text-left pl-2"
        id="full-content-modal-header"></div>
      <a class="uk-modal-close-default uk-text-bold uk-position-center-right
     bg-transparent border-0"><i class="material-icons">close</i></a>
    </div>  <div class="uk-modal-dialog bg-white" >

    <div class="text-center">
      <div class="uk-display-inline-block col-csxx-x-14" style="width: 100%;max-width: 1500px;">
        <div class="position-relative uk-display-inline-block col-cmd-8 float-none p-0 col-csxx-x-14" style="">

          <div class="modal-body container-fluid uk-text-center p-0" id="full-content-modal-body">
          </div>
        </div>
      </div>
    </div>


  </div>
</div>

<div id="confirm-modal" class="uk-flex-top top-0 " uk-modal=''>
  <div class="uk-modal-dialog uk-margin-auto-vertical rounded-md overflow-hidden text-center pb-0 pl-0 pr-0 pt-3">
    <div id="confirm-modal-inner" class="p-3 text-sm">

    </div>
    <div class="mt-4 position-relative">
      <div class="text-center border-top mt-4">
        <a class="p-2 col-csxx-x-7 m-0 bg-white shadow-none h4 text-primary" id="yes" contenturl=''>Yes</a>
        <a
          class="p-2 col-csxx-x-7 m-0 bg-white shadow-none border-left uk-modal-close-default position-relative top-0 right-0 h4 text-danger">Cancle</a>
      </div>


      <!-- <button class="btn bg-white text-blue mt-2  rounded-pill pl-3 pr-3 mr-0 ml-0 shadow-none uk-display-inline-block"
        id="yes" contenturl=''><i class="fa fa-check-circle mr-1"></i> Yes</button>
      <a class="btn bg-white text-danger mt-2 rounded-pill pl-3 pr-3  mr-0 ml-0 shadow-none uk-modal-close-default uk-display-inline-block"
        style="top: auto;right: auto;"><i class="fa fa-times-circle mr-1"></i>
        No</a> -->
    </div>
  </div>

</div>

<!-- <div id="confirm-modal" class="uk-flex-top top-0" uk-modal=''>
  <div class="uk-modal-dialog uk-margin-auto-vertical rounded-md text-center p-5">
    <div id="confirm-modal-inner">

    </div>
    <div class="mt-2 position-relative">
      <button class="btn bg-white text-blue mt-2  rounded-pill pl-3 pr-3 mr-0 ml-0 shadow-none uk-display-inline-block" id="yes"
        contenturl=''><i class="fa fa-check-circle mr-1"></i> Yes</button>
      <a class="btn bg-white text-danger mt-2 rounded-pill pl-3 pr-3  mr-0 ml-0 shadow-none uk-modal-close-default uk-display-inline-block" style="top: auto;right: auto;"><i class="fa fa-times-circle mr-1"></i>
        No</a>
    </div>
  </div>

</div> -->

