<div class="uk-display-block position-relative" style="z-index: 5;">
  <div id="offcanvas-content" class="uk-offcanvas uk-modal-full bg-white" uk-offcanvas="flip:true;overlay: false;"
    style="width: 100%;z-index: 5 !important;">

    <div class="uk-margin-remove-last-child uk-height-viewport uk-offcanvas-bar uk-flex uk-flex-column uk-padding-remove 
        bg-white  uk-offcanvas-bar-animation uk-offcanvas-slide"
      style="overflow-y: auto;width: 100% !important;z-index: 3;">
      <div class=" bg-white text-darker p-1 h2  border-bottom text-center pl-2 fixed-top" style="height: 35px;"> <span
          class="h3 text-primary" id="offcanvas-content-title"></span>
        <a class="uk-offcanvas-close m-0 uk-position-center-left bg-transparent" style="width: max-content;">
          <i class="fa fa-chevron-left"></i></a>
      </div>
      <div class="container-fluid position-relative pt-5 p-0 pb-6" id="offcanvas-content-body">
        <!-- <div class="uk-position-top-center mt-2 p-3 text-center loader-container mt-4" style="z-index: 5;"
        id="loader-container">
        <i class="fa fa-spinner m-0 text-primary loader-rotate-360" style="width: max-content;height: max-content;"
          id="loader-rotate-360"></i>

      </div> -->
        <div>

        </div>
        <div>

        </div>
      </div>



    </div>
  </div>
</div>




<div class="uk-position-top-center mt-4 p-3 text-center main-loader-container hide" style="z-index: 2000;"
  id="main-loader-container">
  <i class="fa fa-spinner m-0 text-primary loader-rotate-360" style="width: max-content;height: max-content;"
    id="loader-rotate-360"></i>

</div>

<div class="fixed-top mt-0 top-0 text-center hide" id='progress-container' style="z-index: 5;">
  <div class="ui tiny float-none active indicating progress m-0 shadow-none bg-white uk-display-inline-block"
    style="border: none;height: 6px; width: 80px;" id="progress">

    <div class="bar rounded-pill" style=""></div>
  </div>
</div>

<div class="uk-overlay uk-height-viewport " uk-cover id="loader-cover"
  style="z-index: 1030;background-color: black;opacity: 0.8;position: fixed;display: none;width: 100%;">
  <div class='ui active uk-position-center loader loading big uk-border-circle uk-box-shadow-small uk-padding-small'
    style='position: fixed !important;'>
    <img src="" class="logo-loader " alt="">
  </div>
</div>


<div id="message-modal" class="uk-flex-top top-0 uk-modal" uk-modal>
  <div
    class="uk-modal-dialog uk-modal-body  uk-margin-auto-vertical uk-animation-slide-top-small  rounded-lg overflow-hidden overflow-hidden shadow-none border">
    <!-- <div class="uk-modal-header bg-secondary text-dark p-2 h3 text-uppercase text-center" id="content-modal-header"></div> -->
    <a class="uk-modal-close-default uk-icon-button uk-position-top-right mr-1 mt-1 border-0">
      <i class="material-icons text-dark uk-text-default">close</i></a>

    <div id="message-modal-body" class="card shadow-none text-center p-2"></div>
  </div>
</div>




<div id="notification-box" class="top-0 bg-transparent uk-modal" uk-modal>
  <div class="uk-modal-dialog uk-modal-body  uk-animation-slide-top-small overflow-hidden rounded-sm shadow-sm border"
    style="width: max-content;">
    <a class="uk-modal-close-default uk-icon-button uk-position-top-right mr-1 mt-1 border-0">
      <i class="material-icons text-dark" style="font-size: 18px;">close</i></a>

    <div id="notification-box-body" class="card shadow-none text-center p-1" style="width: max-content;"></div>
  </div>
</div>


<div id="qrcode-modal" class="uk-modal-full top-0 uk-modal bg-translucent-darker qrcode-modal" style="z-index: 8;"
  uk-modal="bg-close:true">
  <a class="uk-modal-close-default uk-icon-button uk-position-top-right qr-close mr-1 mt-1 border-0 p-1"
    style="height: 20px;width: 20px;">
    <i class="material-icons text-white uk-text-default" style="font-size: large;">close</i></a>

  <div class="uk-modal-dialog uk-modal-body p-0 uk-animation-slide-top-small fixed-bottom
  shadow-none" style="min-width: 100%;">

    <div id="qrcode-modal-body" class="card bg-transparent shadow-none text-center mt-1 m-0">


    </div>
  </div>

</div>


<div id="bottom-modal" class="uk-modal-full top-0 uk-modal bg-translucent-darker qrcode-modal" style="z-index: 8;"
  uk-modal="bg-close:true">
  <a class="uk-modal-close-default uk-icon-button uk-position-top-right qr-close mr-1 mt-1 border-0 p-1"
    style="height: 20px;width: 20px;">
    <i class="material-icons text-white uk-text-default" style="font-size: large;">close</i></a>
  <div class="uk-modal-dialog uk-modal-body p-0 fixed-bottom uk-animation-slide-top-small 
  shadow-none" style="min-width: 100%;min-height: max-content;">


    <div class="card mt-0 fixed-bottom m-0 uk-animation-slide-bottom-medium bg-transparent shadow-none"
      style="min-height: 150px;">

      <div class="card-body bg-white p-1"
        style="border-top-left-radius: 15px;border-top-right-radius: 15px;height: 40%;">
        <div class="p-1 position-relative overflow-hidden mt-1" style="min-width:90%;min-height: 150px;"
          id="bottom-modal-body">

        </div>

      </div>
    </div>

  </div>

</div>


<div id="content-modal" class="uk-flex-top top-0 uk-modal content-modal" uk-modal>
  <div class="fixed-top bg-white border-bottom mobile-el hide">
    <div class="uk-modal-header  text-darker rounded-pill text-darker pr-3 pl-3 p-1 h3 m-1 
      text-capitalize text-left border-0 h2 content-modal-header" style="width: max-content;max-width: 100%;">
    </div>
    <a class="modal-close uk-text-bold uk-position-center-right mr-2 mt-0
     bg-transparent border-0"><i class="material-icons">close</i></a>
  </div>
  <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical rounded-lg overflow-hidden  p-0"
    style=" max-width: 100% !important;">
    <div class="fixed-top bg-white border-bottom desktop-el">
      <div class="uk-modal-header  text-darker rounded-pill text-darker pr-3 pl-3 p-1 h3 m-1 
        text-capitalize text-left border-0 h2 content-modal-header" style="width: max-content;max-width: 100%;">
      </div>
      <a class="modal-close uk-text-bold uk-position-center-right mr-2 mt-0
       bg-transparent border-0"><i class="material-icons">close</i></a>
    </div>


    <div id="content-modal-body" class="card shadow-none text-center p-2 mt-5 m-0"></div>
  </div>
</div>

<div id="full-content-modal" class="uk-modal-full top-0 uk-modal bg-white" uk-modal style="">

  <div class="uk-modal-dialog bg-white" style="min-width: 100%;height: 100%;">
    <div class="uk-position-relative">
      <div class="uk-modal-header bg-white text-darker h2 text-capitalize border-0 text-left pl-2"
        id="full-content-modal-header"></div>
      <a class="uk-modal-close-default uk-text-bold uk-position-center-right
       bg-transparent border-0"><i class="material-icons">close</i></a>
    </div>
    <div class="text-center">
      <div class="uk-display-inline-block col-csxx-x-14" style="width: 100%;max-width: 1500px;">
        <div class="position-relative uk-display-inline-block col-cmd-8 float-none p-0 col-csxx-x-14" style="">

          <div class="modal-body container-fluid uk-text-center p-0" id="full-content-modal-body">
          </div>
        </div>
      </div>
    </div>


  </div>
</div>


<div id="confirm-modal" class="uk-flex-top top-0 " uk-modal=''>
  <div class="uk-modal-dialog uk-margin-auto-vertical rounded-md overflow-hidden text-center pb-0 pl-0 pr-0 pt-3">
    <div id="confirm-modal-inner" class="p-3 text-sm">

    </div>
    <div class="mt-4 position-relative">
      <div class="text-center border-top mt-4">
        <a class="p-2 col-csxx-x-7 m-0 bg-white shadow-none h4 text-primary" id="yes" contenturl=''>Yes</a>
        <a
          class="p-2 col-csxx-x-7 m-0 bg-white shadow-none border-left uk-modal-close-default position-relative top-0 right-0 h4 text-danger">Cancle</a>
      </div>


      <!-- <button class="btn bg-white text-blue mt-2  rounded-pill pl-3 pr-3 mr-0 ml-0 shadow-none uk-display-inline-block"
        id="yes" contenturl=''><i class="fa fa-check-circle mr-1"></i> Yes</button>
      <a class="btn bg-white text-danger mt-2 rounded-pill pl-3 pr-3  mr-0 ml-0 shadow-none uk-modal-close-default uk-display-inline-block"
        style="top: auto;right: auto;"><i class="fa fa-times-circle mr-1"></i>
        No</a> -->
    </div>
  </div>

</div>


<audio src="{{settings.qrc_sound.url}}" id="qrc-sound"></audio>

<script type="text/javascript">
  var inlineAlert = "<div class='uk-position-center text-center' style='z-index:2'><div class='text-white text-center bg-green pt-2 pb-2 pl-4 pr-4 success hide uk-position-top-center top-0' id='inline-alert' style='max-width: 320px;width: 100%;min-width:max-content'>"+
  "<p class=''><i class='fa fa-check mr-1'> </i> <span id='inline-alert-inner'></span></p></div></div>"

  var loader = "<div class='ui active loader loading small m-0 uk-border-circle uk-box-shadow-small uk-padding-small uk-position-center'></div>"
  var scanner = ''
  var qrCodeVerificationUrl = ''
  {
    (function ($) { //Most read async
      $('#qrcode-modal').on('hidden', function (event) {
        try {
          $('.qrcodeborder').hide()

          scanner.stop()
        } catch (ReferenceError) {

        }




      });
    }(jQuery))
  };


  {
    (function ($) { //Most read async
      $('.qr-close').on('click', function (event) {
        try {
          $('.qrcodeborder').hide()

          scanner.stop()
        } catch (ReferenceError) {

        }




      });
    }(jQuery))
  };

  // {
  //   (function ($) { //Most read async
  //     $('.qrcode').on('click', function (event) {
  //       var link = $(this)
  //       $('#qrcodestream').attr('contenturl', link.attr('contenturl'))





  //     });
  //   }(jQuery))
  // };


  {
    (function ($) {
      $('.camera-switch').on('click', function () {
        var button = $(this)
        buttonvalue = button.attr('value')
        if (buttonvalue == '1') {
          button.attr('value', '2')

        }
        else {
          button.attr('value', '1')

        }
      })
    }(jQuery))
  }

  cancheckqcr = true

  function verifyQrc(qrresult) {
    if (qrresult.length > 8) {
      $('#qrc-sound')[0].play()
      if (cancheckqcr) {
        $.ajax({
          beforeSend: function () {

            showLoadingBar()
            cancheckqcr = false
            $('.qrcodeborder').addClass('bg-green')

          },
          complete: function () {
            hideLoadingBar()
            $('.qrcodeborder').removeClass('bg-green')
            try {
              $('.qrcodeborder').hide()

              scanner.stop()
            } catch (ReferenceError) {

            }
          },
          type: 'post',
          url: qrCodeVerificationUrl,
          data: {
            'csrfmiddlewaretoken': window.CSRF_TOKEN, // from index.html
            'qrcoderesult': qrresult,
          },
          success: function (response) {



            if (response.modal_message) {
              messageModal(response.modal_message)

            }


            if (response.modal_content) {
              contentModal(response.modal_content, response.heading)

            }

            $('#verification-result').empty()
            $('#verification-result').append(response.message);
            $('.disappear').on('click', function (event) {
              $('#verification-result').empty()

            })
            cancheckqcr = true

          },
          error: function (xhr, status, error) {
            cancheckqcr = true

          }
        });
      }

    }


  }



</script>

<script>
 var contentObject = {}

  $('.load-content').beacon({
    enteronce:true,
    onenter: function (el) {
      var contentElement = $(el)

      if (contentObject[contentElement.attr('id')] && !contentElement.attr('reload')) {
      $('#'+contentElement.attr('id')).empty();
      $('#'+contentElement.attr('id')).append(contentObject[contentElement.attr('id')]['body']);
    }
    else{
      $.ajax({
        beforeSend: function () {
          contentElement.append(loader)
        },
        complete: function () {
        },
        type: 'get',
        url: contentElement.attr('contenturl'),
        data: {
          'csrfmiddlewaretoken': window.CSRF_TOKEN, // from index.html
        },
        success: function (response) {

          if (response.content) {
            $(el).empty()

            $(el).append(response.content);
          }

          contentObject[contentElement.attr('id')] = {}
          contentObject[contentElement.attr('id')]['body'] = response.content


        },
        error: function (xhr, status, error) {
          //   alert('there was an error')
        }
      });
    }
    }
  });



</script>


<script>
  {
    (function ($) {
      $('.confirm').on('click', function () {

        var link = $(this);
        $('#confirm-modal-inner').empty()
        $('#confirm-modal-inner').append(link.attr('message'))
        $('#yes').attr('contenturl', link.attr('contenturl'))
        $('#yes').attr('target', link.attr('target'))
        UIkit.modal($('#confirm-modal')).show();
      }
      );
    }(jQuery))
  };





  function showConfirmModal(elementID, proceedurl) {
    $('#confirm-modal-inner').empty()
    $('#confirm-modal-inner').append(response.message)
    $('#yes').attr('contenturl', proceedurl)
    $('#yes').attr('target', link.attr('target'))
    UIkit.modal($('#confirm-modal')).show();
  }

  $('.ui.rating')
    .rating('disable')
    ;

  var navigationList = []
  var navigationObject = {}
  //   $(window).load(function(){
  //   $('body').backDetect(function(){
  //     alert("Look forward to the future, not the past!");
  //   });
  // });
  //   $(window).on("navigate", function (event, data) {
  //   var direction = data.state.direction;
  //   if (direction == 'back') {
  //     alert('back')
  //     $.ajax({
  //             beforeSend: function () {

  //               showLoadingBar()
  //             },
  //             complete: function () {
  //               hideLoadingBar()

  //             },
  //             type: 'get',
  //             url: navigationList[-1],
  //             data: {
  //               'csrfmiddlewaretoken': window.CSRF_TOKEN, // from index.html
  //             },
  //             success: function (response) {
  //               // if there are still more pages to load,
  //               // add 1 to the "Load More Posts" link's page data attribute
  //               // else hide the link
  //               // append html to the posts div
  //               //$('.content-modal-header-title').empty()

  //               //$('.content-modal-header-title').append(link.attr('inner-html'));
  //               if (response.content) {
  //                 navigationList.pop()
  //                 $('#tabcontent').removeClass('uk-animation-fade')

  //           $('#tabcontent').addClass('uk-animation-fade')
  //           $('#tabcontent').empty()
  //           $('.tab-pane').hide()
  //           $('#tabcontent').show()
  //               }


  //             },
  //             error: function (xhr, status, error) {
  //               alert('there was an error')
  //             }
  //           });

  //   }
  //   if (direction == 'forward') {
  //     // do something else
  //   }
  // }(jQuery));

  //   $('.uk-modal').on('beforehide', function () {
  //     $('.content-modal').removeClass('custom-modal-slide-bottom')

  // $('.content-modal').addClass('custom-modal-slide-top')
  //   })
  function formatCurrency(number) {
    var finalValue = Number(String(number)).toFixed(2)
    if (finalValue == 'NaN') {
      return 0.00

    }
    else {
      var finalValueList = finalValue.split('.')
      var firstdigits = String(number)
      var finalValueNew = []
      counter = 0
      for (let i = firstdigits.length - 1; i >= 0; i--) {
        if (counter % 3 == 0 && firstdigits.length != 3 && counter != 0) {
          finalValueNew.push(firstdigits[i] + ',')
        }
        else {
          finalValueNew.push(firstdigits[i])
        }
        counter++
      }
      return finalValueNew.reverse().join('')

    }
  }

  function closeModal() {

    //     try {
    //       $('.content-modal').removeClass('custom-modal-slide-bottom')

    // $('.content-modal').addClass('custom-modal-slide-top')
    //       UIkit.modal($('.content-modal.uk-open')).hide();

    //     } catch (TypeError) {

    //     }
  }

  // var loader = '<div class="uk-position-top-center mt-2 p-3 text-center loader-container" style="z-index: 5;" id="loader-container">' +
  //   '<i class="fa fa-spinner m-0 text-primary loader-rotate-360" style="width: max-content;height: max-content;" id="loader-rotate-360"></i></div>'

  var loaderElement = $('.loader-rotate-360')
  var angles = 0
  function rotateLoader() {
    angles += 5
    if (angles == 360) {
      loaderElement.css('transform', 'rotate(' + angles + 'deg)')
      angles = 0
    }
    else {
      loaderElement.css('transform', 'rotate(' + angles + 'deg)')

    }

  }


  {
    (function ($) {
      $('.modal-close').on('click', function () {
        setTimeout(UIkit.modal($('.content-modal.uk-open')).hide, 350)            //
        $('.content-modal').removeClass('custom-modal-slide-bottom')

        $('.content-modal').addClass('custom-modal-slide-top')

      })
    }
      (jQuery))
  };

  function clearLoadingInterval() {
    clearInterval(loadingInterval)
  }
  function setLoadingInterval() {
    loadingInterval = setInterval(rotateLoader, 10)
  }

  function showLoadingBar() {
    try {
      clearInterval(loadingInterval);

    } catch (ReferenceError) {

    }
    // $('#progress-container').show()
    setLoadingInterval()
    $('#main-loader-container').show()

    // pageStatus = null;
    // progress = null;
    // animationInterval = 33;
    // function updateProgress() {
    //   if (progress == null) {
    //     progress = 1;
    //   }

    //   progress = progress + 1;
    //   if (progress >= 0 && progress <= 30) {

    //     animationInterval += 1;
    //     $('#progress').progress({
    //       percent: progress
    //     });
    //   }
    //   else if (progress > 30 && progress <= 60) {
    //     animationInterval += 2;
    //     $('#progress').progress({
    //       percent: progress
    //     });
    //   }
    //   else if (progress > 60 && progress <= 80) {
    //     //$('.progress').addClass('bg-white')

    //     animationInterval += 3;
    //     $('#progress').progress({
    //       percent: progress
    //     });
    //   }
    //   else if (progress > 80 && progress <= 90) {
    //     //$('.progress').addClass('bg-white')

    //     animationInterval += 4;
    //     $('#progress').progress({
    //       percent: progress
    //     });
    //   }
    //   else if (progress > 90 && progress <= 95) {
    //     animationInterval += 80;
    //     $('#progress').progress({
    //       percent: progress
    //     });
    //   }
    //   else if (progress > 95 && progress <= 99) {
    //     animationInterval += 150;
    //     document.getElementById("pageLoader").innerHTML = progress;
    //   }
    //   else if (progress >= 100) {
    //     $('#progress').progress({
    //       percent: progress
    //     });
    //   }
    //   setTimeout(updateProgress, animationInterval);

    // }
    // loadingInterval = setInterval(function () {
    //   element = document.querySelector("body");

    //   if (element != undefined) {
    //     clearInterval(loadingInterval);

    //     // updateProgress();
    //   }
    // }, 50);
  }

  function hideLoadingBar() {
    // progress = 100
    // $('#progress').progress({
    //   percent: progress
    // });

    // $('#progress-container').hide()
    clearLoadingInterval()
    $('#main-loader-container').hide()
    // $('.progress').addClass('bg-yello')

    progress = 0
  }


  function loadContent(url, el) {
    $.ajax({
      beforeSend: function () {
        //  alert(contentElement.attr('id'))
      },
      complete: function () {
      },
      type: 'get',
      url: url,
      data: {
        'csrfmiddlewaretoken': window.CSRF_TOKEN, // from index.html
      },
      success: function (response) {

        if (response.content) {
          $(el).empty()

          $(el).append(response.content);
        }


      },
      error: function (xhr, status, error) {
        //   alert('there was an error')
      }
    });

  }

  var tabContainer = ''

  function loadContents(id) {
    var tabContainers = $(id).find('.load-content');
    var tabContainersIDs = []
    for (let index = 0; index < tabContainers.length; index++) {
      tabContainersIDs.push('#' + $(tabContainers[index]).attr('id'))
    }
    // var elementID = link.attr('href')
    // navigationList.push[link.attr('contenturl')]
    for (let index = 0; index < tabContainersIDs.length; index++) {
      let tabContainer = $(tabContainersIDs[index])
      if (tabContainer.hasClass('uk-animation-slide-right')) {
        $('.load-content').removeClass('uk-animation-slide-right')
        $('.load-content').addClass('uk-animation-slide-left')

      }
      else if (tabContainer.hasClass('uk-animation-slide-left')) {
        $('.load-content').removeClass('uk-animation-slide-left')
        $('.load-content').addClass('uk-animation-slide-right')
      }
      // alert(tabContainer.attr('contenturl'))

      $.ajax({
        beforeSend: function () {
          showLoadingBar()
        },
        complete: function () {
          hideLoadingBar()

        },
        type: 'get',
        url: tabContainer.attr('contenturl'),
        data: {
          'csrfmiddlewaretoken': window.CSRF_TOKEN, // from index.html
        },
        success: function (response) {

          if (response.content) {
            tabContainer.empty()

            tabContainer.append(response.content);
          }


        },
        error: function (xhr, status, error) {
          alert('there was an error')
        }
      });


    }

  }



  {
    (function ($) { //Most read async
      $('.inner-tab-content-btn').on('click', function (event) {
        tabContainer = ''
        var button = $(this)
        // $(link).addClass('active')
        try {
          clearInterval(cameraShots)
          scanner.stop()
        } catch (ReferenceError) {
          try {
            clearInterval(cameraShots)
            scanner.stop()
          } catch (ReferenceError) {

          }
        }
        // try {
        //             clearInterval(qrCodeInterval)
        //             Webcam.reset()
        //         } catch (ReferenceError) {
        //             try {
        //             clearInterval(qrCodeInterval)
        //             Webcam.reset()
        //         } catch (ReferenceError) {

        //         }
        //         }
        var tabContainers = $(button.attr('href')).find('.load-content');
        var tabContainersIDs = []
        for (let index = 0; index < tabContainers.length; index++) {
          tabContainersIDs.push('#' + $(tabContainers[index]).attr('id'))
        }
        // var elementID = link.attr('href')
        // navigationList.push[link.attr('contenturl')]
        for (let index = 0; index < tabContainersIDs.length; index++) {
          let tabContainer = $(tabContainersIDs[index])
          if (tabContainer.hasClass('uk-animation-slide-right')) {
            $('.load-content').removeClass('uk-animation-slide-right')
            $('.load-content').addClass('uk-animation-slide-left')

          }
          else if (tabContainer.hasClass('uk-animation-slide-left')) {
            $('.load-content').removeClass('uk-animation-slide-left')
            $('.load-content').addClass('uk-animation-slide-right')
          }
          // alert(tabContainer.attr('contenturl'))

          $.ajax({
            beforeSend: function () {
              showLoadingBar()
            },
            complete: function () {
              hideLoadingBar()

            },
            type: 'get',
            url: tabContainer.attr('contenturl'),
            data: {
              'csrfmiddlewaretoken': window.CSRF_TOKEN, // from index.html
            },
            success: function (response) {

              if (response.content) {
                tabContainer.empty()

                tabContainer.append(response.content);
              }


            },
            error: function (xhr, status, error) {
              alert('there was an error')
            }
          });


        }

        // $('.tab-content-btn').off()
      });
    }(jQuery))
  };




  {
    (function ($) { //Most read async
      $('.tab-content-btn').on('click', function (event) {
        tabContainer = ''

        $('.nav-link.tab-btn.main-tab-btn').removeClass('active')
        var button = $(this)
        // $(link).addClass('active')
        try {
          clearInterval(cameraShots)
          scanner.stop()
        } catch (ReferenceError) {
          try {
            clearInterval(cameraShots)
            scanner.stop()
          } catch (ReferenceError) {

          }
        }
        // try {
        //             clearInterval(qrCodeInterval)
        //             Webcam.reset()
        //         } catch (ReferenceError) {
        //             try {
        //             clearInterval(qrCodeInterval)
        //             Webcam.reset()
        //         } catch (ReferenceError) {

        //         }
        //         }
        var tabContainers = $(button.attr('href')).find('.load-content');
        var tabContainersIDs = []
        for (let index = 0; index < tabContainers.length; index++) {
          tabContainersIDs.push('#' + $(tabContainers[index]).attr('id'))
        }
        // var elementID = link.attr('href')
        // navigationList.push[link.attr('contenturl')]
        for (let index = 0; index < tabContainersIDs.length; index++) {
          let tabContainer = $(tabContainersIDs[index])
          if (tabContainer.hasClass('uk-animation-slide-right')) {
            $('.load-content').removeClass('uk-animation-slide-right')
            $('.load-content').addClass('uk-animation-slide-left')

          }
          else if (tabContainer.hasClass('uk-animation-slide-left')) {
            $('.load-content').removeClass('uk-animation-slide-left')
            $('.load-content').addClass('uk-animation-slide-right')
          }
          // alert(tabContainer.attr('contenturl'))

          $.ajax({
            beforeSend: function () {
              showLoadingBar()
            },
            complete: function () {
              hideLoadingBar()

            },
            type: 'get',
            url: tabContainer.attr('contenturl'),
            data: {
              'csrfmiddlewaretoken': window.CSRF_TOKEN, // from index.html
            },
            success: function (response) {

              if (response.content) {
                tabContainer.empty()

                tabContainer.append(response.content);
              }


            },
            error: function (xhr, status, error) {
              alert('there was an error')
            }
          });


        }

        // $('.tab-content-btn').off()
      });
    }(jQuery))
  };

  {
    (function ($) { //Most read async
      $('.coming-soon').on('click', function (event) {

        notificationModal('Coming Soon')


      });
    }(jQuery))
  };

  {
    (function ($) { //Most read async
      $('.signout').on('click', function (event) {
        var link = $(this);

        $.ajax({
          beforeSend: function () {
            showLoadingBar()
          },
          complete: function () {
            hideLoadingBar()

          },
          type: 'get',
          url: link.attr('contenturl'),
          data: {
            'csrfmiddlewaretoken': window.CSRF_TOKEN, // from index.html
          },
          success: function (response) {

            if (response.url) {
              window.location = response.url

            }
            else {
              window.location = ''
            }
          },
          error: function (xhr, status, error) {
            alert('there was an error')
          }
        });


      });
    }(jQuery))
  };

  {
    (function ($) {
      $('.hide-content').on('click', function () {

        var button = $(this);
        $(button.attr('content')).removeClass('uk-animation-fade')
        $(button.attr('content')).addClass('uk-animation-fade')
        $(button.attr('content')).hide()

      });
    }(jQuery))
  };

  {
    (function ($) {
      $('.main-content-redirect').on('click', function () {

        var link = $(this);

        $.ajax({
          beforeSend: function () {

            showLoadingBar()
          },
          complete: function () {
            hideLoadingBar()
          },
          type: 'get',
          url: link.attr('contenturl'),
          data: {
            'csrfmiddlewaretoken': window.CSRF_TOKEN, // from index.html
          },
          success: function (response) {
            // if there are still more pages to load,
            // add 1 to the "Load More Posts" link's page data attribute
            // else hide the link
            // append html to the posts div
            //$('.content-modal-header-title').empty()

            //$('.content-modal-header-title').append(link.attr('inner-html'));
            if (response.content) {
              $('#tab-header').empty()
              $('#tab-header').append(response.header);
              $('#inner-container').empty();
              $('#inner-container').append(response.content);

            }

            if (response.message) {
              $('#notification-modal-inner').empty()
              $('#notification-modal-inner').append(response.message)
              $('.content-modal-body').css({ 'background-color': 'white', 'color': 'black' })
              UIkit.modal($('#notification-modal')).show();
            }


          },
        });
      });
    }(jQuery))
  };


  {
    (function ($) {
      $('.remove').on('click', function () {

        var link = $(this);

        $.ajax({
          beforeSend: function () {

            showLoadingBar()
          },
          complete: function () {
            hideLoadingBar()
          },
          type: 'get',
          url: link.attr('contenturl'),
          data: {
            'csrfmiddlewaretoken': window.CSRF_TOKEN, // from index.html
          },
          success: function (response) {


            if (response.message) {
              $('#confirm-modal-inner').empty()
              $('#confirm-modal-inner').append(response.message)

              UIkit.modal($('#confirm-modal')).show();
            }
            if (response.removeurl) {
              $('#yes').attr('contenturl', response.removeurl)
              $('#yes').attr('target', link.attr('target'))
            }




          },
        });
      });
    }(jQuery))
  };


  {
    (function ($) {
      $('#yes').on('click', function () {

        var link = $(this);

        $.ajax({
          beforeSend: function () {

            showLoadingBar()
          },
          complete: function () {
            hideLoadingBar()
          },
          type: 'post',
          url: link.attr('contenturl'),
          data: {
            'csrfmiddlewaretoken': window.CSRF_TOKEN, // from index.html
          },
          success: function (response) {

            if (response.content) {
              UIkit.modal($('#confirm-modal')).hide();

              $(link.attr('target')).empty()
              $(link.attr('target')).append(response.content);

            }

            if (response.modal_message) {
              messageModal(response.modal_message)

            }


          },
        });
      });
    }(jQuery))
  };
  function fadeInlineAlert() {
    $('#inline-alert').fadeToggle()
  }
  function fadeSuccess() {
    $('#success-alert').fadeToggle()
  }
  function addToCart(quantity, productid) {
    $.ajax({
      beforeSend: function () {

        showLoadingBar()
      },
      complete: function () {
        hideLoadingBar()
      },
      type: 'post',
      url: "{% url 'customer_update_cart' %}",
      data: {
        'csrfmiddlewaretoken': window.CSRF_TOKEN, // from index.html
        'quantity': quantity,
        'productid': productid
      },
      success: function (response) {


        if (response.success_alert) {
          $('#success-alert-inner').empty().append(response.success_alert)
          $('#success-alert').fadeToggle()
          $('#success-alert').show()
          setTimeout(fadeSuccess, 3000)


        }


      },
    });

  }

  function requestTabContent(contentUrl, action = 'post') {
    var link = $(this);
    $.ajax({
      beforeSend: function () {
        showLoadingBar()
      },
      complete: function () {
        hideLoadingBar()
      },
      type: action,
      url: contentUrl,
      data: {
        'csrfmiddlewaretoken': window.CSRF_TOKEN, // from index.html
      },
      success: function (response) {

        if (response.content) {
          $('#tabcontent').removeClass('uk-animation-fade')

          $('#tabcontent').addClass('uk-animation-fade')
          $('#tabcontent').empty()
          $('#tabcontent').append(response.content)

        }
        if (response.modal_message) {
          messageModal(response.modal_message)

        }
        if (response.modal_notification) {
          notificationModal(response.modal_notification)

        }

        if (response.modal_content) {
          contentModal(response.modal_content, response.heading)

        }
        if (response.message) {
          UIkit.notification.closeAll()
          UIkit.notification(response.message)
        }

      },
      error: function (xhr, status, error) {
        alert('there was an error')
      }
    });
  }

  function requestTabContent(contentUrl, action = 'post') {
    var link = $(this);
    $.ajax({
      beforeSend: function () {
        showLoadingBar()
      },
      complete: function () {
        hideLoadingBar()
      },
      type: action,
      url: contentUrl,
      data: {
        'csrfmiddlewaretoken': window.CSRF_TOKEN, // from index.html
      },
      success: function (response) {

        if (response.content) {
          $('#tabcontent').removeClass('uk-animation-fade')

          $('#tabcontent').addClass('uk-animation-fade')
          $('#tabcontent').empty()
          $('#tabcontent').append(response.content)

        }
        if (response.modal_message) {
          messageModal(response.modal_message)

        }
        if (response.modal_notification) {
          notificationModal(response.modal_notification)

        }

        if (response.modal_content) {
          contentModal(response.modal_content, response.heading)

        }
        if (response.message) {
          UIkit.notification.closeAll()
          UIkit.notification(response.message)
        }

      },
      error: function (xhr, status, error) {
        alert('there was an error')
      }
    });
  }

  var offCanvasObjects = {}
  var bottomModalObject = {}

  function loadOffCanvasContent(link) {
    $('#offcanvas-content-body').empty();

    if (offCanvasObjects[link.attr('id')] && !link.attr('reload')) {
      // alert(offCanvasObjects[link.attr('id')]['body'])
      $('#offcanvas-content-title').empty();
      $('#offcanvas-content-title').append(offCanvasObjects[link.attr('id')]['title']);
      $('#offcanvas-content-body').empty();
      $('#offcanvas-content-body').append(offCanvasObjects[link.attr('id')]['body']);
    }
    else {
      $.ajax({
        beforeSend: function () {
          showLoadingBar()

        },
        complete: function () {
          hideLoadingBar()
        },
        type: 'GET',
        url: link.attr('contenturl'),
        data: {
          'csrfmiddlewaretoken': window.CSRF_TOKEN, // from index.html
        },
        success: function (response) {
          if (response.content) {

            $('#offcanvas-content-title').empty();
            $('#offcanvas-content-title').append(response.title);
            $('#offcanvas-content-body').empty();
            $('#offcanvas-content-body').append(response.content);
            offCanvasObjects[link.attr('id')] = {}
            offCanvasObjects[link.attr('id')]['body'] = response.content
            offCanvasObjects[link.attr('id')]['title'] = response.title

          }
          if (response.modal_message) {
            messageModal(response.modal_message)

          }

        },
        error: function (xhr, status, error) {
          alert('there was an error')
          UIkit.offcanvas($('#offcanvas-content')).hide();

        }
      });

    }


  }


  function loadBottomModalContent(link) {
    $('#bottom-modal-body').empty();

    if (bottomModalObject[link.attr('id')] && !link.attr('reload')) {
      // alert(offCanvasObjects[link.attr('id')]['body'])
      // $('#bottom-modal-title').empty();
      // $('#bottom-modal-title').append(bottomModalObject[link.attr('id')]['title']);
      $('#bottom-modal-body').empty();
      $('#bottom-modal-body').append(bottomModalObject[link.attr('id')]['body']);
    }
    else {
      $.ajax({
        beforeSend: function () {
          showLoadingBar()

        },
        complete: function () {
          hideLoadingBar()
        },
        type: 'GET',
        url: link.attr('contenturl'),
        data: {
          'csrfmiddlewaretoken': window.CSRF_TOKEN, // from index.html
        },
        success: function (response) {
          if (response.content) {

            // $('#bottom-modal-title').empty();
            // $('#bottom-modal-title').append(response.title);
            $('#bottom-modal-body').empty();
            $('#bottom-modal-body').append(response.content);
            bottomModalObject[link.attr('id')] = {}
            bottomModalObject[link.attr('id')]['body'] = response.content
            // bottomModalObject[link.attr('id')]['title'] = response.title

          }

        },
        error: function (xhr, status, error) {
          alert('there was an error')
          UIkit.modal($('#bottom-modal')).hide();

        }
      });

    }


  }

  {
    (function ($) {
      $('.off-canvas-btn').on('click', function (event) {
        event.preventDefault()
        UIkit.offcanvas($('#offcanvas-content')).show();
        var link = $(this);
        loadOffCanvasContent(link)
      })
    }(jQuery))
  }

  {
    (function ($) {
      $('.content-btn').on('click', function (event) {
        event.preventDefault()
        // UIkit.offcanvas($('#offcanvas-content')).show();
        var link = $(this);
        requestContentModal(link.attr('contenturl'), 'get')
      })
    }(jQuery))
  }

  {
    (function ($) {
      $('.bottom-modal-btn').on('click', function () {
        var link = $(this);
        // alert('')
        loadBottomModalContent(link)
      })
    }(jQuery))
  }



  {
    (function ($) {
      $('.qrcode-modal-btn').on('click', function () {
        var link = $(this);

        $.ajax({
          beforeSend: function () {
            showLoadingBar()

          },
          complete: function () {
            hideLoadingBar()
          },
          type: 'GET',
          url: link.attr('contenturl'),
          data: {
            'csrfmiddlewaretoken': window.CSRF_TOKEN, // from index.html
          },
          success: function (response) {
            if (response.content) {
              $('#qrcode-modal-body').empty();
              $('#qrcode-modal-body').append(response.content);

            }

          },
          error: function (xhr, status, error) {
            alert('there was an error')
          }
        });
      })
    }(jQuery))
  }


  function requestContentModal(contentUrl, action = 'post', updateable = '') {

    $.ajax({
      beforeSend: function () {
        $('.content-modal').removeClass('custom-modal-slide-top')

        $('.content-modal').addClass('custom-modal-slide-bottom')
        showLoadingBar()

      },
      complete: function () {
        hideLoadingBar()

      },
      type: action,
      url: contentUrl,
      data: {
        'csrfmiddlewaretoken': window.CSRF_TOKEN, // from index.html
      },
      success: function (response) {
        if (response.content) {
          $('#tabcontent').removeClass('uk-animation-fade')

          $('#tabcontent').addClass('uk-animation-fade')
          $('#tabcontent').empty()
          $('#tabcontent').append(response.content)

        }

        closeModal()
        $('.content-modal').removeClass('custom-modal-slide-top')

        $('.content-modal').addClass('custom-modal-slide-bottom')
        if (response.modal_message) {
          messageModal(response.modal_message, response.heading)

        }
        if (response.updatecontent) {
          $(updateable).removeClass('uk-animation-fade')

          $(updateable).addClass('uk-animation-fade')
          $(updateable).empty()
          $(updateable).append(response.updatecontent)
        }

        if (response.full_modal) {
          fullcontentModal(response.full_modal, response.heading)

        }
        if (response.modal_notification) {
          notificationModal(response.modal_notification)

        }

        if (response.modal_content) {
          contentModal(response.modal_content, response.heading)

        }
        if (response.message) {
          UIkit.notification.closeAll()
          UIkit.notification(response.message)
        }
        if (response.logout) {
          setTimeout(logout, 5000)
        }

        // UIkit.modal($('.content-modal.uk-open')).hide();

        // $('.content-modal.uk-close').removeClass('uk-transition-slide-bottom')

      },
      error: function (xhr, status, error) {
        alert('there was an error')
      }
    });
  }

  function contentModal(body, heading) {
    $('.content-modal-body').css({ 'background-color': 'white', 'color': 'black' })
    $('#content-modal-body').empty()
    $('.content-modal-header').empty()
    $('#content-modal-body').append(body)
    $('.content-modal-header').append(heading)

    UIkit.modal($('#content-modal')).show();
  }

  function messageModal(body) {
    $('.content-modal-body').css({ 'background-color': 'white', 'color': 'black' })
    $('#message-modal-body').empty()
    // $('#message-modal-header').empty()
    $('#message-modal-body').append(body)
    // $('#message-modal-header').append(heading)

    UIkit.modal($('#message-modal')).show();
  }

  function notificationModal(body) {
    $('.content-modal-body').css({ 'background-color': 'white', 'color': 'black' })
    $('#notification-box-body').empty()
    // $('#message-modal-header').empty()
    $('#notification-box-body').append(body)
    // $('#message-modal-header').append(heading)
    UIkit.modal($('#notification-box')).show();
    setTimeout(() => UIkit.modal($('#notification-box')).hide(), 3000)
  }

  function fullcontentModal(body, heading) {
    $('.content-modal-body').css({ 'background-color': 'white', 'color': 'black' })
    $('#full-content-modal-body').empty()
    $('#full-content-modal-header').empty()
    $('#full-content-modal-body').append(body)
    $('#full-content-modal-header').append(heading)

    UIkit.modal($('#full-content-modal')).show();
  }

  function logout() {
    $.ajax({

      beforeSend: function () {

        showLoadingBar()
      },
      complete: function () {
        hideLoadingBar()
      },
      type: 'get',
      url: "{% url 'account_logout' %}",
      data: {
        'csrfmiddlewaretoken': window.CSRF_TOKEN, // from index.html
      },
      success: function (response) {
        window.location = '{% url 'account_login' %}'
        loggedOut = true
      },
      error: function (xhr, status, error) {
        alert('there was an error')
      }
    });
  };
  var loggedOut = false


</script>
<script>
  $('#offcanvas-nav-primary').on('beforehide', function () {
    // alert('hidden')
    $('#major').css('transition-duration', '0.5s')
    $('#major').css('transform-origin', 'left')

    $('#major').css('transition-timing-function', '0.5s', 'cubic-bezier(0.175, 0.885, 0.32, 1.275)')
    // $('#major').css('transform', "translateX(" + '-' + $('.uk-offcanvas-bar').css('width') + ')')
    $('#major').css('margin-left', '0px')

  });

  $('#offcanvas-nav-primary').on('beforeshow', function () {
    $('#major').css('transition-duration', '0.5s')
    $('#major').css('transform-origin', 'right')
    $('#major').css('transition-timing-function', 'cubic-bezier(0.175, 0.885, 0.32, 1.275)')
    if (jQuery(window).width() < 600) {
      $('#major').css('margin-left', '0px')
    }
    else {
      $('#major').css('margin-left', $('.uk-offcanvas-bar').css('width'))
    }
    // $('#major').css('transform', "translateX(" + $('.uk-offcanvas-bar').css('width') + ')')

  });

  jQuery(document).ready(function () {
    if (jQuery(window).width() < 600) {
      UIkit.offcanvas($('#offcanvas-nav-primary')).hide();
      $('#major').css('margin-left', '0px')
      $('.content-modal').addClass('uk-modal-full')
      $('.content-modal .uk-modal-dialog').removeClass('uk-margin-auto-vertical')
      $('.content-modal .uk-modal-dialog').removeClass('rounded-lg')
      $('.content-modal').addClass('bg-white')
      $('.mobile-el').removeClass('hide')
      $('.desktop-el').addClass('hide')

    }
    else {
      UIkit.offcanvas($('#offcanvas-nav-primary')).show();
      $('#major').css('margin-left', $('.uk-offcanvas-bar').css('width'))
      $('.content-modal').removeClass('uk-modal-full')
      $('.content-modal .uk-modal-dialog').addClass('uk-margin-auto-vertical')
      $('.content-modal .uk-modal-dialog').addClass('rounded-lg')
      $('.content-modal').removeClass('bg-white')
      $('.desktop-el').removeClass('hide')
      $('.mobile-el').addClass('hide')

    }
  });


  // jQuery(window).resize(function () {
  //   if (jQuery(window).width() < 600) {
  //     UIkit.offcanvas($('#offcanvas-nav-primary')).hide();
  //     $('#major').css('margin-left', '0px')
  //     $('.content-modal').addClass('uk-modal-full')
  //     $('.content-modal .uk-modal-dialog').removeClass('uk-margin-auto-vertical')
  //     $('.content-modal .uk-modal-dialog').removeClass('rounded-lg')
  //     $('.content-modal').addClass('bg-white')
  //     $('.mobile').removeClass('hide')
  //   }
  //   else {
  //     UIkit.offcanvas($('#offcanvas-nav-primary')).show();

  //     $('#major').css('margin-left', $('.uk-offcanvas-bar').css('width'))
  //     $('.content-modal').removeClass('uk-modal-full')
  //     $('.content-modal .uk-modal-dialog').addClass('uk-margin-auto-vertical')
  //     $('.content-modal .uk-modal-dialog').addClass('rounded-lg')
  //     $('.content-modal').removeClass('bg-white')
  //     $('.desktop').addClass('hide')

  //   }
  // });



</script>