<form class="form" id="add-account-form" method="POST" action="{% url 'customer_add_account' %}" style="">

    {% csrf_token %}

    <div class="card-body p-1">

   

        <div class="uk-inline mt-2" style="width: 100%;">
       <div class="ui fluid search selection dropdown bg-primary border-0">
            <input type="hidden" name="bank" required>
            <i class="dropdown icon"></i>
            <div class="default text text-darker uk-text-bold">Select Bank</div>
            <div class="menu border-primary border">
                {% for bank in banks %}
            <div class="item" data-value="{{bank.code}}" style="padding: 8px !important;"><i class="rounded-circle ">
                <img src="{{bank.logo.url}}" alt="" style="width: 30px;height: 30px; " class="rounded-circle"> </i>{{bank.name}}</div>
            {% endfor %}
            
          </div>
            </div>
        </div>

        <div class="uk-inline mt-4" style="width: 100%;">

            <!-- <span class="uk-position-center-left ml-2"> <i class="fa fa-user"></i></span> -->
            <input class="uk-input form-control p-3    rounded-md position-relative border border-light text-dark "
                style="z-index: 2;" id="last_name" type="number" name="account_number" required autofocus>
            <span class=" uk-position-center-left rounded-sm pl-1 pr-1 ml-2 c-label"
                style="z-index: 1;font-size: 10px;">
                Account number
            </span>
        </div>

    </div>
    <div class="mt-1 text-center bg-white">
        <button class="btn btn-primary shadow-none btn-flat " type="submit" style=""> Add account </button>
    </div>

</form>


<script>
$('.ui.dropdown')
  .dropdown()
;

$("#bank-search").on('change', function (event) {
    alert('')
});



    $("#add-account-form").submit(function (event) {
        event.preventDefault(); //prevent default action 
        var post_url = $(this).attr("action"); //get form action url
        var request_method = $(this).attr("method"); //get form GET/POST method
        var form_data = new FormData(this); //Creates new FormData object
        $.ajax({
            beforeSend: function () {

                showLoadingBar()
            },
            complete: function () {
                hideLoadingBar()

            },
            url: post_url,
            type: request_method,
            data: form_data,
            contentType: false,
            cache: false,
            processData: false,

            success: function (response) {
                if (response.full_modal) {
                    fullcontentModal(response.full_modal, response.heading)

                }
                if (response.modal_message) {
                    messageModal(response.modal_message,)

                }
                if (response.modal_notification) {
                    notificationModal(response.modal_notification)

                }

                if (response.modal_content) {
                    contentModal(response.modal_content, response.heading)

                }
                if (response.message) {
                    UIkit.notification.closeAll()
                    UIkit.notification(response.message)
                }
            },

            error: function (xhr, status, error) {
                UIkit.notification.closeAll()
                UIkit.notification('Operation not successful. Check your internet connection',)
            }
        });
    });




</script>