<div class="p-1 rounded-md bg-secondary text-darker text-left">
    <div class="row m-0">
        <div class="col p-1">
            Interst Rate:
        </div>
        <div class="col p-1 text-right text-primary">
            {{interestrate}}%
        </div>
    </div>
    <div class="row m-0">
        <div class="col p-1">
            Interest Amount:
        </div>
        <div class="col p-1 text-right text-primary">
            ₦{{interest}}
        </div>
    </div>
    <div class="row m-0">
        <div class="col p-1">
            Total:
        </div>
        <div class="col p-1 text-right text-primary">
            {{total}}
        </div>
    </div>
    <div class="row m-0">
        <div class="col p-1">
            Months:
        </div>
        <div class="col p-1 text-right text-primary">
            {{months}}
        </div>
    </div>
    <div class="row m-0">
        <div class="col p-1">
           Investment Amount
        </div>
        <div class="col p-1 text-right text-primary">
            ₦{{amount}}
        </div>
    </div>
</div>